[2014-02-08 05:07] parkr opened #3 "3.0 Vision"
# Core
- Add new posts & pages (dates, yaml front-matter defaults)
- Working with drafts (`_drafts`)
- Pass commands we don't know to `jekyll`
# External
- Octopress deployments

[2014-02-10 20:45] imathis opened #4 "Support deployment using the octopress-deploy gem"
Octopress deploy is a gem I've created to manage deployment of static sites. Integrating it should allow us to maintain the deployment separately from the CLI and allow people to use the deployment without the CLI.

I'm not certain what the best way would be to pass options to deploy, but since it relies on _deploy.yml it may not need robust options support. I could envision shipping something as

[2014-02-11 00:48] imathis opened #6 "Auto-require "blessed" gems"
It'd be nice if we could automatically require blessed gems which extend the CLI. Like octopress/deploy for example.

[2014-02-11 02:45] #6 closed, assigned to parkr

[2014-02-11 02:48] #4 closed, assigned to parkr

[2014-02-11 02:48] #3 closed, assigned to nobody

[2014-02-17 16:39] imathis opened #13 "Create passthrough for Jekyll's build command"

[2014-02-17 16:40] imathis opened #14 "Create passthrough for Jekyll's serve command"

[2014-02-17 16:40] imathis opened #15 "Create passthrough for Jekyll's doctor command"

[2014-02-18 20:20] imathis opened #18 "OMG Tests"
Manual testing is teh suck. I could write some integration tests (in my less than standard style), but @parkr do you think you give this a shot? I can help out once you get the ball rolling.

[2014-02-19 07:04] #15 closed, assigned to imathis

[2014-02-19 07:04] #14 closed, assigned to imathis

[2014-02-19 07:04] #13 closed, assigned to imathis

[2014-02-20 15:41] imathis opened #22 "Version flag doesn't work on subclassed commands"
If a subclassed command (like octopress deploy) sets the version with p.version it overrides the Octopress version (obviously). But there's no way for a subclassed command to display a version. The version flag gets swallowed up by octopress, yet the output for `octopress deploy --help` suggests that the version flag would work.

![screenshot showing the `octopress deploy --version` output](https:

[2014-02-22 16:15] fusion94 opened #24 "Duplicates in help"
if the command `octopress -h` is run there are duplicates shown for the  `serve` and `doctor` subcommands.

[code]

[2014-02-22 17:05] #24 closed, assigned to nobody

[2014-02-24 22:49] fusion94 opened #25 "Errors in 'new post' and 'new page'"
Running the commands:

`$ octopress new post "My Title"`

generates the following invalid template:

[code]

Conversely, running:

`$ octopress new page about/index.markdown`

generates the following invalid template:

[code]

[2014-03-08 05:32] #25 closed, assigned to nobody

[2014-03-13 15:53] #22 closed, assigned to parkr

[2014-03-13 15:58] imathis opened #27 "Remove dependency on Octopress Ink"
#### The backstory

I'm trying to figure out how to make Octopress as easy for people to use as possible and not have it do or assume too much about the user. Right now we have this really great documentation feature where users can run `octopress docs` and it will show the documentation for Octopress and all of the plugins they have. In order to do this, Octopress needs the magic of Ink and its i

[2014-03-14 13:56] kykim opened #29 "How do I migrate from 2.0?"
Subject says it all. Is there a doc? I can't seem to find it (but then again I've only had one coffee so far.)

Thanks,
-kevin

[2014-03-17 15:31] #27 closed, assigned to imathis

[2014-03-17 15:32] #18 closed, assigned to parkr

[2014-03-18 03:46] imathis opened #30 "Discussion: Release concerns"
When we release 3.0, I'm concerned that people will assume it's just like 2.0 but better in some way. However, this release is very different from what Octopress has been up until this point. This will be the first part of a larger release. Octopress is shifting from being essentially a blog that you fork to a modular system of independent components. It will also be build on the latest version of

[2014-03-18 14:07] imathis opened #31 "Add option to specify a path for posts"
This way people can organize posts into subdirectories under `_posts`.

[2014-03-18 15:49] #31 closed, assigned to nobody

[2014-03-18 18:16] boyvanamstel opened #33 "octopress serve --watch will just run build --watch and not serve"
Looking at `lib/octopress/commands/serve.rb` octopress will pass all commands to `build` first and then to `serve`. However, the `--watch` parameter will just run `build` and start watching there, never reaching the serve command.

[2014-03-18 18:22] #33 closed, assigned to nobody

[2014-03-19 02:10] SSheldon opened #34 "Duplicate subcommands listed for --help"
I'm really excited to start testing out the release candidate!

Found a minor issue, when I run Octopress help, the serve and doctor subcommands are listed twice:

[code]

Perhaps an issue involving mercenary? I haven't yet tried to identify what's causing it.

[2014-03-19 04:01] #34 closed, assigned to nobody

[2014-04-06 02:16] SSheldon opened #35 "publish --date is stated to default to now, but it doesn't publish with the current time when that option isn't specified"
`octopress publish --help` claims that the default value for `--date` is now:

[code]

I thought this would mean that unless `--date` is specified, any drafts are published with with the current time as their date. However, this is incorrect; if `--date` isn't specified, the draft is published using the date already specified in its frontmatter. To publish a draft with a date of now, you must use

[2014-04-09 09:44] zackp30 opened #36 "octopress build --watch gets stuck in a loop."
When the `--watch` flag is specified it continually regenerates.

[2014-04-19 22:04] staxmanade opened #37 "Blog Series (plugin?)"
Hey All,

I'd love to see a feature that would make writing a `series` of blog posts much more seamless.

I totally get that if this needs to be a plugin it could, but let me describe what I think a possible experience could be like - and maybe someone could guide me to how best to implement...

I've seen [some attempts ](http://realjenius.com/2012/11/03/jekyll-series-list/) already, and in fact t

[2014-04-20 05:36] #37 closed, assigned to nobody

[2014-04-29 18:40] #35 closed, assigned to nobody

[2014-04-30 15:20] #36 closed, assigned to nobody

[2014-05-08 04:20] imathis opened #38 "Travis isn't happy with YAML.safe_load"
Hey @parkr, Any idea what's up with [this Travis failure](https://travis-ci.org/octopress/octopress/jobs/24680099)? It works fine locally, but to [get tests to pass](https://travis-ci.org/octopress/octopress/builds/24680283) on Travis I have to use `YAML.load` which, of course, will hack everyone's planet. Any ideas?

[2014-05-08 04:34] #38 closed, assigned to nobody

[2014-05-25 22:21] davepwsmith opened #40 "'Octopress new post' not respecting templates."
I know this is alpha software, so not sure if this is a known issue or not, but `octopress new page "title of page"` doesn't respect the template in _templates - it misses out the `excerpt:` and `tags:` YAML keys. Just delete this if it's a known problem!

[2014-05-25 23:09] #40 closed, assigned to nobody

[2014-06-09 15:32] imathis opened #41 "Create testing framework"
Hey @parkr! I've been hacking together my own testing framework for Octopress, Ink and various plugins. I've been copying it over to each project and trying to keep the changes in sync and that's gotten old. It's time to gemmify this thing and iterate towards greatness.

Here's what it does:
- Builds Jekyll sites and allows custom configuration for each build.
- Spins through two directories and d

[2014-06-12 14:53] davepwsmith opened #42 "Add a test for working dir?"
Would it be trivial to add a line to _octopress.yml (on `octopress init` perhaps?) which indicates the base working directory on the local filesystem? This would avoid the admittedly minor problem that I'm sure we've all had of running `octopress build` in an arbitrary directory that we've been working in (_include, _templates etc.) and running into errors or creating _site directories everywhere

[2014-06-21 20:23] tooh opened #43 "Error: undefined method `published'"
Migrated from Octopress 2.0.

STEPS TO REPRODUCE
- Made a new clean directory.
- copied my _config.yml
-  Copied my old posts
- octopress build

RESULT
octopress 3.0.0.rc.12 | Error:  undefined method `published'

It give this error on all off my posts

[2014-07-01 02:12] hazzik opened #44 ""octopress new post" failing to generate slug with non ASCII titles on Windows"
Intro: I'm Russian and I want to write posts in Russian, but I can not use octopress 3.0 to create files from command line. Also I'm using Ruby 2.0 x64 on Windows 7 x64

I tried to set encoding of command promt to be 'windows-1251' and 65001 (utf-8) with `chcp`, but that did not help:

[code]

[2014-07-20 06:32] JuanitoFatas opened #45 "Consider add an index.html to `octopress init`"
This will prevent this error:

[code]

Reference https://github.com/jekyll/jekyll/issues/1293

[2014-08-13 08:32] emad-elsaid opened #46 "Octopress deploy fatal: pathspec ':/' did not match any files"
i tried to create a new octopress blog, and pushing it to my github https://github.com/blazeeboy/blazeeboy.github.io using the following steps :

[code]

the `octopress deploy` step prints the following error

[code]

so i tried the following:

[code]

and it worked fine and pushed the site. https://github.com/blazeeboy/blazeeboy.github.io
now, i tried to modify a post and the following.

[code]

[2014-08-18 11:04] #46 closed, assigned to nobody

[2014-08-20 19:49] pjv opened #47 "Using 3.0 for new project"
I am about to start a new site / blog project. It's a paying gig, so I don't have the luxury of waiting. I want to go static generator for this project and after reviewing a bunch of different ones, I had decided to make a first try with Octopress, looking for a headstart and somewhat quicker "onramp" over using Jekyll alone. I started on the octopress.org site, looking at 2.0 and then in the cour

[2014-08-25 19:05] jhwhite opened #48 "Changing theme issues"
I set up a default install and created a blog post. Then decided to change the theme.

I changed it to OctoFound https://github.com/annejohnson/octofound then changed it back to the default theme.

But I guess OctoFound changed files permanently. http://jhwhite.github.io.

Is there a way to undo what OctoFound did? Or can I use GitHub to go to a previous commit or something?

[2014-09-10 03:11] philoserf opened #49 "Octopress assumes source at root despite Jekyll _config.yml source: ./_source"
This is not universally true but needs further investigation.

Steps to repeat:
1. edit `_config_yml` with `source: ./_source'
2. move Jekyll source into `_source`, leaving `_config.yml`, `_octopress.yml`, and other non-source files in the root.
3. run `octopress serve --config _config.yml --octopress-config _octopress.yml`

[code]
1. edit `_config.yml` with `config: _config.yml`
2. run `octopress

[2014-10-11 15:44] brainstorm opened #50 "Formatting a permalink dates on post _templates, problems with date.year, etc..."
Is it possible to have a post template containing containing:

[code]

Like Jekyll does? I've tried with f.i `date.year` and other combinations but couldn't figure it out.

[2014-10-11 19:59] rbeeger opened #51 "Octopress complains about an unknown tag "endraw""
I haven't updated my Octopress for at least a month. After updating the bundle for my site today I got the error
"  Liquid Exception: Unknown tag 'endraw' in _posts/2004-02-07-....."

To make sure that not any other updated gem caused this problem I played around with the dependencies in my Gemfile and arrived at the following Gemfile.lock which works

[code]

and this one that produces the error:

[2014-11-05 18:26] coneybeare opened #52 "Load Jekyll Plugins before new post/page generation"
I have a post template where I want to generate a random hex identifier for each post. The template is simple:

[code]

where `random_hex` is a working liquid plugin found in my `source/_plugins` directory. But when running: `octopress new post`, I get a crash on [this line](https://github.com/octopress/octopress/blob/def70575d0b4d41c25ec6d52bdb29651a22811f1/lib/octopress/page.rb#L135) complaining

[2014-11-22 09:31] jez opened #54 "No `octopress watch`?"
When I run `octopress watch`, nothing is printed, and when I run `octopress watch --help`, it prints the same help message as for `octopress --help`. Is there no Octopress equivalent of `jekyll --watch`? Are there substantial drawbacks to just using `jekyll watch` instead?

[2014-11-22 09:32] #54 closed, assigned to nobody

[2014-11-22 22:35] parkr opened #55 "The Road to 3.0"
In order to release 3.0, we have some work ahead of us:

- [ ] `jekyll-paginate` needs to be reworked per https://github.com/octopress/ink/pull/23
- [x] Write `octopress integrate`
- [x] Write `octopress isolate`
- [x] `image` tag plugin
- [x] `pull_quote` tag plugin
- [x] `video` tag plugin
- [ ] Documentation!

Anything else, @imathis? If we can get a comprehensive list here, then we can move fo

[2014-11-23 05:19] imathis opened #56 "Switch to Clash for tests"

[2014-11-24 01:30] imathis opened #58 "Isolate command"
[code]

Options:
- Specifying a path will isolate all posts except for that one one.
- Passing no args will isolate only the most recent post (by date in yaml front-matter or filename).
- Passing --search flag will isolate all posts which don't match the search string.

[2014-11-24 06:54] #56 closed, assigned to imathis

[2014-11-24 06:54] #58 closed, assigned to imathis

[2014-11-24 17:30] howardm opened #59 "Error Message in Rake Generate"
I'm a relative {non-hacker) newbie to Octopress.

I'm getting the Error Message below when performing a "rake generate"

The only thing I've done since my last "rake generate" was to update Brew, with associated commands: brew doctor; brew upgrade (I think) ; and brew prune

(I'm a novice with Brew, too. As best I remember, "brew prune" removed "dead symlinks.")

....

HMacBook-3:~ howardm$ cd oct

[2014-11-24 19:45] #59 closed, assigned to nobody

[2014-11-29 01:04] SunDi3yansyah opened #60 "jekyll 2.4.0 | Error: undefined method `gsub' for #<Array:0x007f7faf4c9ad8>"
I am getting the above error when generating using rake generate
![screenshot from 2014-11-29 07 53 26](https://cloud.githubusercontent.com/assets/3952281/5233094/87ac2e16-779d-11e4-9803-1411158ec767.png)

My problem seems to be here
https://github.com/imathis/octopress/issues/1635
but it does not work out

has renewed 'gem' (still error)
already downgrade 'Jekyll' (still error), 'Jekyll' before t

[2014-11-29 09:17] harryhorn opened #61 "octopress docs causes Liquid Exception: Unknown tag 'css_asset_tag' in _layouts/default.html"
Hi,

Just installed a fresh copy of Octopress using

[code]

When I run the `octopress docs` command I get the following:

[code]

[2014-11-30 13:11] zuyih opened #62 "octopress build doesn't work?"
when I run `octopress build`,there is nothings output,How can I build ?

[2014-12-02 08:49] #62 closed, assigned to nobody

[2014-12-08 05:11] imathis opened #63 "Add configuration tip when adding a collection page"

[2014-12-08 15:34] #63 closed, assigned to imathis

[2014-12-09 05:52] #52 closed, assigned to parkr

[2014-12-09 15:58] #41 closed, assigned to nobody

[2014-12-09 16:12] #42 closed, assigned to nobody

[2014-12-09 16:13] #43 closed, assigned to nobody

[2014-12-09 16:21] #47 closed, assigned to nobody

[2014-12-09 16:25] #45 closed, assigned to nobody

[2014-12-09 16:26] #48 closed, assigned to nobody

[2014-12-09 18:10] #50 closed, assigned to nobody

[2014-12-09 22:08] #49 closed, assigned to imathis

[2014-12-09 22:48] #61 closed, assigned to imathis

[2014-12-15 04:43] jez opened #65 "octopress serve fails with no error, immediately"
### Software Versions

See Gemfile and Gemfile.lock at end of post.
### Steps to reproduce
- Install octopress v3.0.0.rc.22 completely from scratch:

[code]
- make blank test site

[code]
- attempt to serve the site

[code]
### Result

Command returns immediately, exit code 0.
### Expected Result

Site is served at http://localhost:4000/.
### Diagnostic Info

[code]

[code]

[code]

[code]

P.S. I

[2014-12-15 05:34] #65 closed, assigned to nobody

[2014-12-21 04:45] #51 closed, assigned to nobody

[2014-12-21 20:26] #60 closed, assigned to nobody

[2014-12-28 22:18] jaanus opened #66 "“How to get started” doc"
I gave Octopress 3 a spin. (I’m a happy Octopress 2 user, but not a Jekyll or Ruby expert by any means.) I managed to get it installed, but not sure what to do next. In an empty folder, I can generate some post markdown files with `octopress new post` command, but it is not clear how those turn into pages.

As a user, I’m expecting to follow a set of instructions that help me get started from scra

[2015-01-02 04:50] imathis commented on #66
@jaanus I'm working on a gem based theming system called Octopress Ink. It will allow users to simply install a gem, and generate a blog with a theme. The framework is basically done, but I'm still working on building the first theme at http://github.com/octopress/genesis.

Moving forward Octopress is being split out into many different components. This should make it much easier to develop, contr

[2015-01-02 04:52] imathis commented on #44
I'm going to assume this has been settled. If not, I'm happy to reopen it.

[2015-01-02 04:52] imathis commented on #66
I should say, this is already part of the release plans, so this issue doesn't need to remain open. Feel free to continue discussion.

[2015-01-02 04:52] #66 closed

[2015-01-02 04:53] #44 closed

[2015-01-02 04:55] imathis commented on #55
@VirusKA Yes. I plan to work on a guide once I've finished the first new theme. I just posted a more lengthy comment on migration [here](https://github.com/octopress/octopress/issues/66#issuecomment-68508823)

[2015-01-02 05:27] chrissimpkins commented on #66
thanks much Brandon.   look forward to it.

[2015-01-02 08:21] parkr commented on #29
Octopress 3.0 has not yet been released.

[2015-01-02 09:27] hazzik commented on #44
Still happens in Windows machine with fresh untouched octopress, but as I said before - I use StringEx#to_url to generate slugs, so does not really matter for me.

[2015-01-05 00:21] JohnMorales opened #67 "cannot follow the readme instructions"
Hi Brandon, it looks like the instructions in the readme don't work anymore..
[code]

[2015-01-05 02:51] #67 closed

[2015-01-05 03:02] imathis commented on #55
Update: I'm currently working on the new documentation site and things are coming together smoothly. One of the cool things I'm doing with the new Octopress is having each plugin be separate including their documentation. I've built a system that allows me to generate a website which sucks in the documentation from each plugin. The doc site is pretty barebones right now (no css even), but you can

[2015-01-05 03:06] imathis commented on #55
Oh and one more thing. If you're curious what "releasing 3.0" means, [Here's a list of all the plugins](https://github.com/octopress/octopress/blob/master/site/_data/_plugins.yml) that will be documented on the new site.

Each of these plugins are fully documented, tested, and feature complete aside from the Genesis theme (which is a work in progress) and Octopress Ink (which is done, but needs mo

[2015-01-05 18:06] imathis commented on #67
I've released 3.0.0.rc.25 an updated gem which should fix this for you. Thanks again!

[2015-01-05 20:13] justinrummel opened #70 "img tag"
While testing a migration from my Octopress 2 site, I noticed an error for the "img" tag that was a default option in Octopress 2 ( http://octopress.org/docs/plugins/image-tag/ ) was missing.  Should this be substituted with a jekyll plugin in my Gemfile or should we pull from  https://github.com/imathis/octopress/blob/master/plugins/image_tag.rb

With some plugins missing, it also seems odd that

[2015-01-06 20:55] imathis commented on #70
I'm working on adding stand-alone plugin to replace what's in Octopress 2.0 (with tests!) but I haven't done them all yet. The reason there isn't a _plugins directory is that `jekyll new` doesn't add it and Octopress uses Jekyll's scaffolding but adds its own.

[2015-01-06 21:42] justinrummel opened #71 "new page folder/ generates index.html"
when performing a ```octopress new page test/``` to generate a subdirectory in your site (e.g. http://mysite.com/test/), octopress is generating the "test" folder, but inside is a index.html file with markdown attributes. I believe it is supposed to be index.md.

[2015-01-06 22:08] mjohnq3 commented on #71
The default for Pages is html but this can be changed in your _config.yml file per: https://github.com/octopress/octopress/blob/master/assets/docs/index.md#configuration

[2015-01-06 22:09] imathis commented on #71
Have you configured new pages to default to `md`? If you want it to be markdown add `page_ext: md`

[2015-01-06 22:09] #71 closed

[2015-01-07 06:08] imathis commented on #70
I've just released 1.0.0 of octopress-image-tag. Which you can find here: https://github.com/octopress/image-tag. It should be a drop in replacement for the plugin you're currently using.

[2015-01-07 06:08] #70 closed

[2015-01-09 02:05] justinrummel opened #72 "paginate and post content"
I'm trying to get the main index homepage to look like my [Octopress 2 site](https://www.justinrummel.com) displaying the last five articles and all of their content vs. a page that has a link to each article as seen attached.

I'm assuming it's just a setting in the _config.yml, I just can't find it.  Current source is available on my [octo3 repo](https://github.com/justinrummel/jr.com-octo3/tree

[2015-01-09 02:23] mjohnq3 commented on #72
One way to do it is; instead of using :
[code]
in your index.html, you would use:
[code]
Then in _config.yml add:
[code]
You can see this used in my index.html here: https://github.com/mjohnq3/jekyll-writer/blob/master/index.html

To display the full content of each post, use:
[code]
at an appropriate place in index.html.

[2015-01-09 05:36] imathis commented on #55
In the past couple of days I've released:
- octopress-quote-tag
- octopress-pullquote-tag
- octopress-image-tag
- octopress-video-tag

Each with tests and documentation. The documentation site is coming along (content-wise) and I think the last thing I have to do is finish that up and get the Genesis theme into a state where people might want to actually use it.

Things are looking good! I'm excit

[2015-01-09 05:38] parkr commented on #55
Piecemeal plugins, i.e. only-if-you-want-them optional? :smile:

[2015-01-09 05:45] imathis commented on #55
Yep. People who have Octopress 2.0 sites will be able to get everything they need during the switch, but they'll have to add a lot to their gemfile—If they used that stuff. I'm eager to dispel the notion that Octopress is a different community from Jekyll. Making sure these work independently is an important part of that.

[2015-01-09 05:48] parkr commented on #55
You are so awesome. :clap: :clap: :clap: :clap: :clap: :clap: :clap:

[2015-01-09 10:04] hazzik opened #74 "Set "published": true (or remove "published" variable)"
Set "published": true (or remove "published" variable)
If the post has been unpublished (published: false) in frontmatter and we want to publish it, then we need to set "published": true (or remove "published" variable)

[2015-01-09 15:53] imathis commented on #74
Are asking to be able to publish a post in the _posts folder by changing the yaml front-matter? The current publish system is designed for use of the new `_drafts/` directory feature.

If I'm right, (hey @parkr?) I think `published: false` is the legacy way of doing drafts. Perhaps I can create a command to convert a post in `_posts/` to a draft in `_drafts/` because converting a post to a draft i

[2015-01-10 01:00] imathis commented on #74
I have pull request #75 ready for review. This will allow you to type something like: `octopress unpublish 'some post' and it will move it into the drafts folder for you. You can read more about how this works in the PR. But I think it's preferable to setting messing with the published var.

[2015-01-10 01:00] #74 closed

[2015-01-10 01:14] parkr commented on #74
It is the old way. There's an `unpublished` key you can use to show them. But it's deprecated.

https://github.com/jekyll/jekyll/blob/master/lib/jekyll/publisher.rb#L14

[2015-01-10 19:25] IanWhitney opened #76 "Viewing drafts"
I like the ability to create drafts, but I do not see how to preview them. They don't show up when I do `jekyll serve` and the isolate command can't find a draft.

So, am I just using drafts wrong or is there a command that I'm missing?

[2015-01-10 19:32] mjohnq3 commented on #76
Use jekyll serve --drafts

http://jekyllrb.com/docs/drafts/

[2015-01-10 20:13] imathis commented on #76
Yep, that should do it. Thanks for the help @mjohnq3!

[2015-01-10 20:13] #76 closed

[2015-01-11 17:54] kelcecil commented on #29
I just finished this process with my simple Octopress blog, and it was pretty straight forward. I'll share what I learned.

I installed Octopress 3 and Jekyll and created a blog in a new folder with `octopress new <dir>`. I copied my posts directly from the Octopress 2 _posts folder to the new _posts folder. I only used codeblock tags and the default theme, so my only necessary modification was to

[2015-01-11 17:58] imathis commented on #29
Thanks for sharing @kelcecil!

[2015-01-12 01:08] #72 closed

[2015-01-12 01:12] imathis commented on #55
Alrighty. I've updated every single Octopress plugin. They now all have documentation, test and are automatically integrated into the new work-in-progress Octopress site. Other than some better documentation for Octopress Ink, the only thing I have left is to finish the Genesis theme.

Once those are done. I'll finish up the site, migrating whatever pages still make sense to keep from the old site

[2015-01-12 03:33] parkr commented on #55
Hot damn!

[2015-01-12 03:34] imathis commented on #55
I decided to count. There are 28 gems that are a part of this release. O.o. Exciting stuff.

@parkr you mentioned some headway on the pagination stuff. Any luck with that so far?

[2015-01-12 04:08] parkr commented on #55
I had made some headway but didn't like it. The struggle is the user interface – what is the best way to set this up? I reworked it to look like this:

![screen shot 2015-01-11 at 8 08 15 pm](https://cloud.githubusercontent.com/assets/237985/5698883/a3548314-99cd-11e4-92b4-c125b2ad8db4.png)

[2015-01-12 04:16] imathis commented on #55
Honestly, that looks really easy to configure. I'm guessing the default template for posts wouldn't be `_posts/pager.html`. Posts being different by default is maybe the only thing that may confuse users.

[2015-01-12 04:35] parkr commented on #55
I was thinking about using `_templates` or some other "reserved" folder but now that there are custom collections, this isn't super possible. Maybe `_layouts/pager.html` would be better?

[2015-01-12 04:40] imathis commented on #55
I know custom collections are a thing, but _includes, _layouts, _data, and _posts can't be reused for something else right now can they? It's probably too late to reserve other folder names, but it seems like as long as you can configure it, you should be okay with _templates. If not though, I think _layouts/pager.html works fine.

[2015-01-12 17:48] parkr commented on #55
That's how I feel right now. The more configuration we add, the harder it becomes to use so I'd rather not have yet another reserved folder name.

Another option is `_layouts/templates/pager.html`.

[2015-01-12 17:54] imathis commented on #55
Of the suggestions, this is probably the least likely to interfere with an existing setup :+1:

[2015-01-12 17:55] imathis commented on #55
It makes me wonder if I should change the way Octopress scaffolding works and use the same folder. Though, It's not really a layout per se.

[2015-01-14 06:40] kimpenhaus opened #77 "octopress docs fails on windows"
Hi guys,

not sure if windows is intended to be a supported platform but in case it is the *octopress docs* command is causing an error. It seems like it is an issue with the path while the drive-letter is missing. I attached a screenshot of the command prompt.

What I did was to install Ruby (v 1.9.3) and then *gem install octopress* - all went fine. I then did *octopress new path-to-my-blog-fold

[2015-01-14 16:47] imathis commented on #77
Thanks for your report. I definitely want to get this fixed. I don't have access to a windows machine, but if I can have your help testing builds, I'd love that!

[2015-01-14 17:16] kimpenhaus commented on #77
Sure thing! I will help you guys wherever I can.

[2015-01-14 17:47] parkr commented on #77
AppVeyor is a possibility for the future as well.

[2015-01-15 15:09] justinrummel opened #78 "Drafts _template workflow"
When creating a draft via ```octopress new draft "title goes here"``` I'm getting the following template layout information:

[code]

When I'm ready to publish thus performing ```octopress publish _drafts/title-goes-here.markdown``` I would expect to get the _template/post header framework applied, but instead there is only:

[code]
I'm not sure if the answer is to create a new _template/draft, us

[2015-01-15 15:21] imathis commented on #78
This is a good question. Only the `new` command use the template. So `new page`, `new post`, `new draft` all have a template. The publish command preserves the YAML front-matter from the draft so any changes you make to it will end up in the post. I could add a `--template` option to the publish, but I think it's better to expect users to edit their files and keep them in tact.

If you want to use

[2015-01-15 15:30] justinrummel commented on #78
I would like "if _template/draft exists", then use that template.  It helps me remember what items need update (like tags, publish, comments, etc).  If it doesn't exist do the current behavior of just layout and title. I would then just ```cp _template/post _template/draft``` so the template file does exist in my environment.

However, including a ```--template post``` is a good alternative.  I'll

[2015-01-15 17:07] imathis commented on #78
I'm not sure I entire understand what you want. But I've just pushed a new update that may help. You can now set `draft_template: post` in your `_config.yml` and you won't need a `_templates/draft`file since it will use `_templates/post` as the template. Then you won't have to pass the `--template` flag.

[2015-01-15 17:17] imathis commented on #78
I don't know what the deal is with the copy of your site that I have here, but it's not working for me. Would you mind sending me another?

[2015-01-15 17:17] imathis commented on #78
Oops, wrong issue.

[2015-01-15 18:45] justinrummel commented on #78
PERFECT! I didn't think of that solution and it returns exactly what I was looking for!

[2015-01-15 18:45] imathis commented on #78
Excellent. I'm glad to hear it.

[2015-01-15 18:45] #78 closed

[2015-01-15 21:09] imathis commented on #77
@kimpenhaus I've done some updates to paths, I don't know if it'll help, but would you mind running `bundle update` and seeing if things are still so bleak?

[2015-01-15 23:56] sammcj opened #82 "htmltags.rb:43: warning: duplicated key at line 46 ignored: "index0""
[code]

[code]

[2015-01-16 00:08] parkr commented on #82
Fixed by https://github.com/Shopify/liquid/pull/503 . Just not released.

[2015-01-16 00:08] #82 closed

[2015-01-16 00:32] imathis commented on #82
This appears to be an issue with Liquid. Perhaps it isn't happy with Ruby 2.2.0. Try the same in `gem install liquid` and see what happens.

[2015-01-16 00:32] imathis commented on #82
Oops, hadn't seen your post @Parkr. Thanks!

[2015-01-16 06:01] kimpenhaus commented on #77
@imathis hm - I've installed via `gem install octopress` so wherever I tried to `bundle update` it just says **Could not locate Gemfile** any advice? :) Sorry for my lack of ruby knowledge!

[2015-01-16 06:25] parkr commented on #77
The `bundle` command requires a `Gemfile` in your `$CWD`. `bundle` is the command for [Bundler](http://bundler.io), which it looks like you're not using here. Just running `gem install octopress` should work.

[2015-01-16 06:27] kimpenhaus commented on #77
I tried with `gem update octopress`which didn't gave any updates. can I just redo with 'gem install octopress`?

[2015-01-16 06:28] parkr commented on #77
The screenshot says you're using RC25, but the latest release is [RC28](https://github.com/octopress/octopress/releases/tag/v3.0.0.rc.28). Run `gem uninstall octopress` then again `gem install octopress --pre`.

[2015-01-16 06:39] kimpenhaus commented on #77
Ay - the update / reinstall worked - on RC28 now. But the result is the same - still an issue with the path - unfortunately:

![2015-01-16_07-36-24](https://cloud.githubusercontent.com/assets/575109/5772410/8b67b770-9d52-11e4-8df6-1f84c5a027e6.png)

[2015-01-16 07:33] parkr commented on #77
Can you list the files  in `/Ruby193/lib/ruby/gems/1.9.1/gems/octopress-3.0.0.rc.28`?

[2015-01-16 10:27] kimpenhaus commented on #77
![2015-01-16_11-25-17](https://cloud.githubusercontent.com/assets/575109/5774813/70a6fbd8-9d72-11e4-897c-2304ecae0e67.png)

I did a dir on the mentiones folder `/Ruby193/lib/ruby/gems/1.9.1/gems/octopress-3.0.0.rc.28` and on `/Ruby193/lib/ruby/gems/1.9.1/gems/octopress-3.0.0.rc.28/local/`. As you can see the `index.html`is in the `local` folder - the path is just lacking the drive letter.

[2015-01-16 16:52] parkr commented on #77
That might be the cause.

[2015-01-16 16:53] imathis commented on #77
I'm trying to figure out how to ask Ruby for paths that include the drive letter. It doesn't seem as straightforward as I had hoped.

[2015-01-16 17:17] parkr commented on #77
File.expand_path should help!

[2015-01-17 07:29] kimpenhaus commented on #77
Did you guys did any change? I reinstalled octopress in the morning. It still says `octopress.3.0.0.rc.28' but *Docs* are working now on *Windows*

Great job - thanks!

[2015-01-17 12:21] change2hao opened #83 "octopress deploy issue"
Hi,imathis. I installed octopress3.0 step by step following your readme today. Unfortunately,when I exec  'octopress deploy init git' , the console show 'octopress 3.0.0.rc.28 | Error:  undefined method `sub!' for nil:NilClass' , when I change to 'octopress deploy init s3', it works well. I have installed git and I work on Yosemite.

[2015-01-17 12:50] mjohnq3 commented on #83
I get the same error on Windows 8.1 with Ruby 2.0.0p481. Initializing git did previously work correctly.

[2015-01-17 12:56] imathis commented on #83
I'm taking a look. Thanks for the report.

[2015-01-17 13:04] imathis commented on #83
I just released version 1.0.4 of octopress-deploy. I failed to mention in the Readme that the `--url` was required for the `init git` command. Now when you run the command without typing the url, it will print out the command usage asking for an option.

[2015-01-17 13:04] #83 closed

[2015-01-17 13:13] imathis commented on #77
This would seem to be an issue with the way that Ruby on Windows handles expanding paths. Here's [a thread](https://www.ruby-forum.com/topic/188077) where Windows users are discussing how sometimes the expand_path command gets the drive letter and sometimes it doesn't. I wonder if your specific Ruby version is affected by this issue.

I'm not using any unstandardized methods for getting the path t

[2015-01-17 14:47] imathis opened #84 "Add multi-language support"
- [ ] Add `--lang` option for posts, pages and drafts
- [ ] Add multi-lanauge feeds to octopress-feeds for
- [ ] Add multi-language post indexes to octopress-genesis

[2015-01-17 19:53] imathis commented on #84
So I've been doing some testing on how to get permalinks to work nicely. I'd have to do some monkey patching on Jekyll to make the experience nice. I'd like to be able to add the `:lang` url template placeholder to the permalink. One problem is that at this point all url template placeholders are not optional, so the `Jekyll::URL:generate` method will have to be able to strip out `nil` tokens.

[c

[2015-01-17 22:11] parkr commented on #84
The patch to `#generate` is a great idea – I'd gladly accept that. In terms of adding `:lang` to the permalink URL placeholders, I need to think about that more...

[2015-01-17 22:28] drallgood commented on #84
Sounds like a good idea.
I implemented that feature as a plugin using a different approach given the limitations of jekyll/octopress but your approach looks better (https://github.com/drallgood/jekyll-multilingual)

One thing you should keep in mind is what happens with posts that are only ever published in one language vs. ones that are posted in two (or more).

[2015-01-17 22:35] imathis commented on #84
For now my plan is to use Octopress Hooks to add language specific post loops to the Site payload like this:

[code]

This will allow users to do the looping that I mentioned above `{% for post in site.posts_by_language.es %}` in any template. This should make it easy to integrate multi-language features in my other plugins and themes. I think with this approach it shouldn't matter if a post has a

[2015-01-17 23:04] drallgood commented on #84
Yeah, I didn't like that approach either. That's why i opted to create my own plugin.

It does matter if you still want to show a post even if it wasn't translated to a particular language (essentially duplicating it). That might be an edge-case, but for me it was important. I tend to write most posts in English and those should still show up even if people are viewing the site from Germany.

[2015-01-17 23:17] imathis commented on #84
That's interesting, I'm sure there are going to be lots of use cases I'll need to consider.

[2015-01-18 14:43] imathis commented on #84
I'd love to hear anyone's thoughts on this approach. I have little knowledge of how use cases work for these types of sites.

I think I've found a way to do cross-language posting without any friction or configuration.

[code]

Then I add this to the site payload:

[code]

This will allow you to do `{% for post in posts_by_language.de %}` And you can also access the site's languages based on conte

[2015-01-18 15:34] dstroot opened #85 "json gem errors?"
OK - I created a Gemfile with just this:

[code]

Then I ran `bundle` which installed a bunch of stuff and created a Gemfile.lock file.  I am running Ruby 2.2.0 via rbenv and ran rbenv rehash.  Note I am a Ruby neophyte.

Next I ran `octopress new octopress-3` and `cd octopress-3` and finally `jekyll serve`.  The site built and I can see it at localhost:4000 but I am getting errors:

[code]

Thing

[2015-01-18 15:45] imathis commented on #85
This is not an issue with Octopress, but with Liquid which Jekyll uses. This has been [patched but not yet released](https://github.com/Shopify/liquid/issues/502).

[2015-01-18 15:45] #85 closed

[2015-01-18 15:46] imathis commented on #85
Oh I should add, this isn't an error but a warning. So it shouldn't actually affect your site. Just ignore it until Liquid gets another release.

[2015-01-18 15:48] dstroot commented on #85
Ok - you're the boss!  ;)

[2015-01-18 18:23] justinrummel commented on #85
I've seen this when testing a new theme.  Do a ```sudo bundle clean --force```, then ````bundle update``` to clean out the extra cruff.

[2015-01-18 18:57] imathis commented on #85
if you're using a ruby vm, you probably won't need sudo

[2015-01-19 05:45] imathis commented on #84
Alright, I think I've figured out my initial approach to this. I've just released [octopress-multilingual](https://github.com/octopress/multilingual) which has a detailed readme, explaining my initial direction for multilingual support. I would love feedback on this.

[2015-01-19 07:33] kimpenhaus commented on #77
I was updating to the latest ruby version on weekend. Had some trouble with it (ssl certificate was invalid, devkit needed some tweaking and octopress-ink wasn't installed by using `gem install octopress`).

In the end result ist still even worse. `octopress docs` is still working only on the same drive and while i am on the same drive all served pages are blank except the `index.html`.

![2015-01

[2015-01-19 08:32] drallgood commented on #84
Awesome. I'll continue the discussion there.

Thanks!

[2015-01-19 18:16] dstroot commented on #85
@justinrummel - yup that cleaned up the json errors nicely.  Thanks for that!

I'm still seeing the Liquid error and awaiting the release with the fix. However I am also seeing an immediate Jekyll regeneration upon start which is puzzling:

[code]

[2015-01-20 01:54] imathis commented on #77
I wasn't able to replicated your issue with blank files, but I found a few things to fix with the docs command and I've just released Octopress RC 30. Let me know if anything has been improved.

[2015-01-20 06:19] kimpenhaus commented on #77
I think I fixed the blank-files issue (was a missing python installation for the `pygments` gem ... stupid me ;-) I uninstalled python during the upgrade to the latest ruby version and didn't re-installed it)

After that I updated to the latest `octopress.3.0.0.rc.30` - `gem update octopress --pre` is working now on ruby 2.x.

After that I received a new error:

![2015-01-20_07-16-12](https://clou

[2015-01-20 13:21] daveheitzman commented on #55
say I wanted to whip up a quick site right now..
so I installed the Octopress gem, made a new site.
But I'm a bit lost - what would i do in place of the old octopress generate command?

Thanks for all your work on this. Can't wait to see the Genesis theme.

[2015-01-20 13:42] justinrummel commented on #55
They are jekyll commands now.  to test via http://localhost:4000 you only need ```jekyll s```.  If you are going to use the deploy option, do ```jekyll b; octopress deploy```.

https://www.justinrummel.com/migrating-from-octopress-2-to-octopress-3/

[2015-01-20 16:00] keltia opened #86 "[3.0.0.rc.30] Is the new octopress 2.2.0 compatible?"
(moved from imathis/octopress)

OS X 10.10.1, clang 3.5, ruby 2.2.0p0 (2014-12-25 revision 49005) [x86_64-darwin14].

Hello,

Everytime I run octopress, I get this error message:

    /Users/roberto/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/safe_yaml-1.0.3/lib/safe_yaml/load.rb:43:in `<module:SafeYAML>': undefined method `tagged_classes' for Psych:Module (NoMethodError)
	from /Users/roberto/.

[2015-01-20 16:07] imathis commented on #86
I've just installed 2.2.0 under rbenv on OS X 10.10 and the tests pass without issue (aside from some warnings due to a bug in liquid). Can you give me some more details about your environment? What OS are you running? I'm going to add 2.2.0 to the travis.yml and see how travis fares.

[2015-01-20 16:14] keltia commented on #86
OS X 10.10.1 (see above).

`gem env`gives this:

    296 [17:13] roberto@roberto-aw:Perso/Sites> gem env
RubyGems Environment:
  - RUBYGEMS VERSION: 2.4.5
  - RUBY VERSION: 2.2.0 (2014-12-25 patchlevel 0) [x86_64-darwin14]
  - INSTALLATION DIRECTORY: /Users/roberto/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0
  - RUBY EXECUTABLE: /Users/roberto/.rbenv/versions/2.2.0/bin/ruby
  - EXECUTABLE DIRECTORY:

[2015-01-20 16:33] imathis commented on #77
Don't worry about the bother, this is how things go. I'm happy you've not just thrown up your hands. I really appreciate your persistence on this.

You shouldn't need Octopress Ink anymore. There was a bug in rc29 that referenced it without checking if it was `defined?` first. I've fixed that bug in rc30 and it shouldn't bother you anymore. I'm not sure why you're having an error about markdown. I

[2015-01-20 16:39] imathis commented on #86
With a fresh install of 2.2.0, my `gem env` is nearly identical to yours, the only differences being shell paths and sources. I don't see why you should be having these errors. Are you running `bundle exec` before running octopress commands?

[2015-01-20 17:12] imathis commented on #86
It looks like the [tests pass](https://travis-ci.org/octopress/octopress/jobs/47665858) on Travis for 2.2.0. And they pass for me on OS X 10.10.1. I hate that I can't give you some direction, but it looks like this is a local issue affecting your setup only so I think I'm going to close this issue. If you find anything that can resolve it, please let me know as it may be helpful to others.

[2015-01-20 17:12] #86 closed

[2015-01-20 21:44] keltia commented on #86
According to Brandon Mathis:

No worry, thanks.  I'll check further on my setup.

--
Ollivier ROBERT -=- FreeBSD: The Power to Serve! -=- roberto@keltia.net
In memoriam to Ondine, our 2nd child: http://ondine.keltia.net/

[2015-01-20 22:10] parkr commented on #86
@keltia Psych problems are usually fixed by re-installing Ruby.

[2015-01-21 04:17] daveheitzman commented on #55
Okay, that helps. Would there be any plans to still support octopress commands, even if it just translated them directly to underlying jekyll commands?

[2015-01-21 05:30] sondr3 commented on #55
Personally I think they should be a 2.0 feature seeing as 3.0 isn't a replacement for Jekyll but something that goes along with it, having Octopress do the same commands that Jekyll is doing already seems a bit weird to me, KISS and all that.

[2015-01-21 12:50] kimpenhaus commented on #77
I executed `octorpess docs --trace` which gave me a better stack-trace. It seems to be an issue with `pygments.rb (~> 0.6.0)` which is required by `jekyll (~> 2.5.3)`.

![2015-01-21_13-46-30](https://cloud.githubusercontent.com/assets/575109/5836306/20f9419e-a174-11e4-9b3f-02a5ed722222.png)

Any idea?

[2015-01-21 16:29] imathis commented on #77
Wow thanks for continuing to dig into this. I'm sorry I didn't think to mention `--trace` before. I'm sorry about the drive letter issue. I really don't understand why Ruby's expand_path isn't giving you a path with drive letter.

If you wouldn't mind, try running `irb` from your command prompt. This will launch the ruby shell where you can run `File.expand_path('.')` which should print out the fu

[2015-01-21 16:51] kimpenhaus commented on #77
First shot seems to be fine, even with drive letter inside from different drive:

![2015-01-21_17-49-12](https://cloud.githubusercontent.com/assets/575109/5840456/fb8dc78c-a195-11e4-9ce6-6d0bff4e0baa.png)

I will dig into deeper later on - maybe try with a similar routine as the gem_dir thingy. Time to learn some ruby ;)

[2015-01-21 21:41] imathis commented on #55
I'm not planning to offer Octopress alternative to Jekyll command unless there is useful way I can augment the command. For example. `octopress new .` == `jekyll new .; octopress init .`. So far that's the only command I've seen the utility in coopting, and it directly references the Jekyll command, passing along options and all.

[2015-01-22 16:38] kimpenhaus commented on #77
Sorry for the delay!

I hooked up awesome_print (don't knwo if that is a good choice but anyway...) and printed the options that `serve_docs` is giving `jekyll` to start the web server with. From what I can see they are looking good (All paths with leading drive-letter):

![2015-01-22_17-32-56](https://cloud.githubusercontent.com/assets/575109/5859816/755627ea-a25d-11e4-9605-f841610c0705.png)

So

[2015-01-22 21:21] imathis commented on #84
The Octopress Feeds plugin now supports [multilingual feeds](https://github.com/octopress/feeds#multilingual-support), and based on the work that took, adding support to Octopress Genesis (and other themes) seems like it'll be fairly straightforward. Woo hoo!

[2015-01-23 02:53] daveheitzman commented on #55
Okay, so what I'm getting is: learn Jekyll first, then use Octopress for extra features, like themes.

[2015-01-23 02:54] imathis commented on #55
@daveheitzman Right on. Octopress is shifting away from being a thing that lives between you and Jekyll and towards being a cohesive ecosystem of plugins and UX enhancements for Jekyll.

[2015-01-23 04:46] daveheitzman commented on #55
Excellent.

[2015-01-23 15:54] arthurnn commented on #82
@parkr FYI, we just released https://rubygems.org/gems/liquid/versions/3.0.1 and https://rubygems.org/gems/liquid/versions/2.6.2 with the appropriate fix for this issue.

[2015-01-23 19:33] parkr commented on #82
@arthurnn :heartbeat:

[2015-01-23 20:46] alec-c4 commented on #55
Hi, Brandon, guys.
I have some questions, hope you can help ;)
- do you have plans to integrate disqus comments to Octopress 3?
- how to enable code highlighter with line numbers? I've installed codefence but still have the same look :(

[2015-01-23 20:53] imathis commented on #55
If you're running your blog on a previous version of Octopress, you'll probably want to remove "@import "partials/syntax";" from your `sass/_partials.scss` file, then install [octopress-solarized](https://github.com/octopress/solarized). That should do it for you.

[2015-01-24 03:31] imathis commented on #55
@alec-c4 Oh, I forgot to answer your other question. On Disqus, I'd rather build a system that makes it easy to add whatever you want to your site. As I'm finishing up the new theme, I'll see how hard it is to manually integrate. If it's a pain, I'll probably build something.

[2015-01-24 08:56] alec-c4 commented on #55
hmmm, it looks like there are a lot of problems:
1 - I've reinstall Octopress with default config
on most of shel commands i see warning:
[code]

as i understand - there are problems with liquid gem

2 - i've tried to install octopress-solarized theme. My gemfile looks like

[code]

Also i've tried to wrap octopress-* gems with group :jekyll_plugins'.

My config looks like

[code]

I've added exam

[2015-01-24 08:57] alec-c4 commented on #55
And - i have no file sass/_partials.scss :(

[2015-01-24 14:35] imathis commented on #55
@alec-c4 It looks like you probably haven't followed the installation instructions for [octopress-solarized](https://github.com/octopress/solarized). You'll want to put `{% css_asset_tag %}` in your site's header to add the stylesheets. If you have further trouble, please file an issue at the octopress-solarized repository and I'll help you there.

[2015-01-25 02:41] ludwick commented on #30
So today (in between other things and after an epic "install xcode, nuke and reinstall macports, upgrade ruby" session mostly due to the fact I haven't touched it in more than a year), I have most everything working, with the genesis theme. Only things that look busted so far are pagination & somehow the theme configuration is being ignored. Not too bad once I looked at it (and it doesn't help tha

[2015-01-25 20:44] drallgood opened #87 "Excerpts?"
Octopress 2 had a filter that allowed you to create/use excerpts.
Is there a replacement for it in 3.0?

[2015-01-26 02:38] justinrummel commented on #87
Jekyll now has a built-in Excerpt capabilities listed on http://jekyllrb.com/docs/posts/ by defining your excerpt_separator in your _config.yml.

[2015-01-26 03:02] drallgood commented on #87
Oh.. I missed that somehow.

Thanks!

[2015-01-26 03:02] #87 closed

[2015-01-28 23:26] drallgood commented on #84
This is really coming along nicely.

I've successfully migrated one of my blogs to [octopress-multilingual](https://github.com/octopress/multilingual) without any major issues.

Huge props to @imathis for his time and effort!!!

[2015-01-29 10:39] Summonee opened #88 "Error reading file and Invalid argument error when running Rake Generate"
Since yesterday, I've been getting this error when running Rake Generate:

Error reading file C:/Users/Jackson/Dropbox/ValiantOctoGhost/source/C:/Users/Jackson/Dropbox/ValiantOctoGhost/public/blog/index.html: Invalid argument - /Users/Jackson/Dropbox/ValiantOctoGhost/source/C:/Users/Jackson/Dropbox/ValiantOctoGhost/public/blog/index.html
jekyll 2.5.3 | Error:  undefined method `encode!' for nil:Ni

[2015-01-30 03:15] imathis commented on #88
Are you using the latest version of Octopress at [imathis/octopress](https://github.com/imathis/occtopress) or are you using 3.0? What did you change yesterday? Are you using Bundler? I need some more information.

[2015-01-30 03:27] Summonee commented on #88
Thank you for replying. I am using 3.0 and I have been for a long time. I didn't change anything, other than write a few posts, and Bundler works fine. I hope this helps.

And a side note, thank you for this awesome thing you've created.

[2015-01-30 03:28] imathis commented on #88
Have you tried just running `bundle exec jekyll build --trace` to see what's going wrong?

[2015-01-30 03:33] Summonee commented on #88
Here is the output

Configuration file: C:/Users/Jackson/Dropbox/ValiantOctoGhost/_config.yml
            Source: source
       Destination: public
      Generating...
Error reading file C:/Users/Jackson/Dropbox/ValiantOctoGhost/source/C:/Users/Jackson/Dropbox/ValiantOctoGhost/public/index.html: Invalid argument - /Users/Jackson/Dropbox/ValiantOctoGhost/source/C:/Users/Jackson/Dropbox/ValiantOctoG

[2015-01-30 03:47] plttn commented on #88
I can't remember the solve to this off the top of my head (isn't knowing
you've seen this exact issue before and being unable to remember where
wonderful?), but if you look at the paths it's calling, it's going to your
sourcedir, and then appending another path after that, causing jekyll to
freak out.

On Thu, Jan 29, 2015 at 7:33 PM, Summonee <notifications@github.com> wrote:

[2015-01-30 03:49] Summonee commented on #88
That was one of the first things I realised, and I have no clue how to fix it. Seriously, I can see what I would have to do and no clue how to do it.

[2015-01-30 03:52] imathis commented on #88
Are you keeping your source checked into git? If this just started recently and you don't think you've changed anything that would cause this kind of freak-out, you can always walk back through your git commits and see which change breaks things. That's at least a start. Another option is to move all your posts and pages and try adding them back one at a time until it breaks.

[2015-01-30 04:01] plttn commented on #88
@imathis there were references to a similar issue over on jekyll/jekyll#3084. but I can't confirm whether that was fixed or not in 2.5.3.

I can run some tests on my Windows machine in a bit using 3.0.

(also in 3.0 you should be using `jekyll build`, not `bundle exec rake build`)

[2015-01-30 04:15] Summonee commented on #88
It seems it was indeed a few recent posts I had written messing with it (Somehow). Just to be safe, I rolled back to the last known working commit.

If I figure out why the posts were messing with it, Ill post it here.

Thank you all for your help.

[2015-01-30 04:18] imathis commented on #88
Excellent. I hope it's a simple fix for you.

[2015-01-30 08:47] Summonee commented on #88
Well in fact, it turns out that any new post I write after the last good ones gives me the same error again! Please help me again?

Also, I ran Jekyll Build, and heres what I got:

WARN: Unresolved specs during Gem::Specification.reset:
      pygments.rb (~> 0.6.0)
      redcarpet (~> 3.1)
      jekyll-watch (~> 1.1)
      classifier-reborn (~> 2.0)
WARN: Clearing out unresolved specs.
Please repo

[2015-01-30 16:33] imathis commented on #88
Try deleting your Gemfile.lock and running `bundle install`. It seems like there's something wrong with your installed gems.

[2015-01-30 16:42] plttn commented on #88
If that doesn't work, remove your Gemfile.lock again, run `gem uninstall jekyll`, and then `gem install jekyll -v 2.4.0`

It's possible that they still haven't fixed the Windows issues.

[2015-01-31 10:50] Summonee commented on #88
Well, it appears it was indeed a Jekyll error. Downgrading to 2.4.0 seems to have fixed the issue. I wrote a few posts just to check, and it all seems to work. Hooray!

[2015-01-31 14:50] #88 closed

[2015-02-04 16:26] gntech opened #89 "Octopress Compability with Jekyll v3.0.0.beta1?"
I tried to use some of the octopress gem plugins together with Jekyll v3.0.0.beta1 but didnt manage to run. Are they not compatible at the moment or did I perhaps do something wrong? (Not impossible at all, being quite new in the rubygems world :) )

The plugins was octopress-image-tag and octopress-filters

[2015-02-04 16:28] imathis commented on #89
@gntech Thanks for the post. Octopress isn't yet compatible with Jekyll 3. There are a lot of things that are changing internally in Jekyll, and I want to wait until it is close to release before I rebuild things on it.

[2015-02-04 16:39] gntech opened #90 "Category generator gem"
Is there plans/work going on to make a gem out of the category_generator plugin found in octopress 2.0 ?

https://github.com/imathis/octopress/blob/master/plugins/category_generator.rb

Let me know if I can help out with it otherwise

[2015-02-04 17:04] gntech commented on #89
Okay, thanks for the info!

[2015-02-04 17:04] #89 closed

[2015-02-07 20:17] drallgood commented on #90
I'm working on that right now...

There are a few issues regarding Octopress::Page vs. Jekyll:Page though (not sure which one I should use...)

[2015-02-07 22:06] imathis commented on #90
I have plans to work on a category generator gem. Originally I thought it would have to be shipped with a theme, but I think I can release it separately.

[2015-02-07 22:24] drallgood commented on #90
@imathis I'm in the process of migrating the existing plugin and making it compatible with ink and multilingual.
Thought that was a fun thing to do :wink:

If you like, I can send you the finished plugin once I'm done
(Right now I'm pondering whether it would be nice for the generated pages to show up if you do an `octopress ink list categories, but other than that it's almost done)

[2015-02-08 08:48] gntech commented on #90
Just for information, There is a similar gem called https://github.com/jekyll/jekyll-archives . It doesnt work quite the same as the category_generator plugin but I have achieved similar results with both after some tweaking.
Maybe an octopress category generator could be based on jekyll-archives?

[2015-02-10 00:54] drallgood commented on #90
A little status update:

I'm almost done. I went with the solution where pages also show up in the ink list.

Here's an example output:
[code]

Those pages are NOT copied when you copy the assets to `_plugins/categories/`
Feeds are still missing. Trying to work out, how to do it properly...

@imathis: If you like, I can turn over the code to you now (it's basically your code anyway).

[2015-02-12 19:27] Smarre commented on #77
Hiya,

I’m trying new octopress on Linux, and got stumbled to docs command not working too. I don’t know if it’s related (I assume it is, hence I’m using this ticket).

    octopress 3.0.0.rc.32 | Error:  Permission denied @ dir_s_mkdir - /usr/lib64/ruby/gems/2.2/gems/octopress-3.0.0.rc.32/local/_site

I dug into it a bit, and it seems to be about source path, resolved by Docs#site_options. Since

[2015-02-15 18:45] drallgood commented on #90
The current state of the plugin can be found here:
https://github.com/drallgood/octopress-categories

[2015-02-15 20:57] imathis commented on #90
Sweet, I'll take a look at it!

[2015-02-16 09:02] alec-c4 opened #91 "preview drafts"
Is there any ability to preview draft in browser when you work on it? Of course - i can publish/unpublish, but maybe you know better way? :)

[2015-02-16 12:52] justinrummel commented on #91
Add --drafts to the end of serve line:

```jekyll s --drafts```

https://www.justinrummel.com/migrating-from-octopress-2-to-octopress-3/

[2015-02-19 00:36] schipperius opened #92 "Cloud9 push Octopress3 to Heroku"
I get the following error when trying to push Octopress3 from Cloud9 to Heroku, and I am not really sure where to ask for help as I have been unable to troubleshoot the error.

$ git push heroku master
results in the following:

remote: Compressing source files... done.
remote: Building source:
remote:
remote: -----> Ruby app detected
remote: -----> Compiling Ruby
remote: sh: 7: Syntax error: EOF

[2015-02-19 03:14] imathis commented on #92
I'm honestly not sure what this is about. I don't believe I'm doing anything uncommon when requiring the version. @parkr do you have any idea?

[2015-02-19 06:23] parkr commented on #92
@schipperius Do you have a link to your site? This tells me to look in your `Gemfile`:

[code]

Make sure you have not just cloned github.com/octopress/octopress.git – you need to do `octopress new` (or is it init?).

[2015-02-20 00:55] drallgood commented on #90
@imathis has moved the plugin here:
https://github.com/octopress/category-index

[2015-02-21 04:01] schipperius commented on #92
Thanks for responding so quickly. I deleted and rebuilt all the pieces I could related to the Gemfile, gems, gemspec, etc. but have arrived after many hours to the same error:

[code]

[2015-02-21 06:26] plttn commented on #92
@schipperius I haven't really worked with Octopress 3.0 yet, but is there a reason why you're using gemspec vs. just adding octopress to your Gemfile? It looks like it has an issue with that `octopress/version` file, which isn't something that should be done on a local install (I think, I'm sure imathis/parkr would know the exact answer to that).

[2015-02-21 22:22] schipperius commented on #92
Thanks @plttn, that helped. I removed gemspec file, updated Gemfile and was able to push to heroku with no errors.

But Heroku open now throws new xdg-open error. Heroku logs didn't seem to shed too much light and online searches did not reveal too much either. So, I thought I would build a new Jekyll site just to see how things might differ... Heroku open creates same error:

~/workspace (master)

[2015-02-21 22:23] parkr commented on #92
@schipperius It can't find a browser on your machine.

[2015-02-21 22:24] schipperius commented on #92
Well, I couldn't quite figure out what I did so I've started a new site and will follow the development of octopress 3, thanks. This issue can be considered closed.

Mark

[2015-02-21 22:24] #92 closed

[2015-02-22 00:02] plttn commented on #92
@schipperius Yeah. Cloud9 doesn't have any browser to open, so `heroku open` will definitely fail. That's not an octopress issue, that's a Cloud9 issue.

[2015-02-23 22:00] kumpelblase2 opened #93 "Error when creating scaffolding"
I receive the following error when I run `octopress init testing` :
[code]

Running 3.0.0.rc.34 on OSX 10.10.2 with Ruby 2.0.0p481
This was pretty much the first thing I did after the installation finished. Installation log:
[code]

Do I need to install a missing dependency or am I missing something else?
Kind regards

[2015-02-23 22:09] imathis commented on #93
Hmm. This is curious. Any clue about this one @parkr?

[2015-02-23 22:10] kumpelblase2 commented on #93
Ok, I just updated psych to 2.0.13 and it's working now.

[2015-02-23 22:11] imathis commented on #93
Goody, that's an odd issue. I'm not explicitly requiring psych. Perhaps SafeYAML has a lax dependency setting.

[2015-02-23 22:11] #93 closed

[2015-03-01 21:22] tunnelsup opened #94 "Error: undefined method `require_from_bundler'"
I am trying to use the opentheme.co Jekyll them and octopress. My installation process is simply like this:

`git clone https://github.com/open-start/opentheme.git`

Then I add the gem to the gemfile:
`gem 'octopress', '~> 3.0.0.rc'`

After doing bundle I can do things like `octopress init` and `octopress -v` but when I try to make a new post I get this error:

    $ octopress new post "test post"

[2015-03-01 21:49] justinrummel commented on #94
There is some kind of dependency as I was able build with only a warnings:

[code]

However, once I did a ```sudo bundle clean --force``` I received the same errors as you.  My current Gemfile is at: https://github.com/justinrummel/jr.com-hpstr/blob/master/Gemfile to see if adding one of these gems may help.

[2015-03-02 00:16] tunnelsup commented on #94
Great. Your gemfile got me past the error I was hitting. But now I get a different error:

    $ jekyll serve
    Configuration file: /Users/me/web/jkocto3/_config.yml
                Source: /Users/me/web/jkocto3/
           Destination: /Users/me/web/jkocto3/_site
          Generating...
      Populating LSI...
    Rebuilding index... jekyll 2.4.0 | Error:  Zero vectors can not be normalized

[2015-03-04 14:35] etaf opened #95 "Error install"
f ~ % gem install octopress --pre
ERROR:  Could not find a valid gem 'octopress' (>= 0) in any repository

[2015-03-04 14:45] #95 closed

[2015-03-18 00:09] ilya-murzinov opened #96 "Error: cannot load such file -- jekyll-sitemap"
I have the following error with the version 3.0.0.rc.34
[code]
Environment:
[code]

[2015-03-18 00:13] ilya-murzinov commented on #96
And also
[code]

[2015-03-18 00:16] parkr commented on #96
Try `bundle exec octopress new post ...` or remove `jekyll-sitemap` from your gemfile and/or your `_config.yml`.

[2015-03-18 06:17] ilya-murzinov commented on #96
Yep, it works.
Thank you for the quick response!

[2015-03-18 06:17] #96 closed

[2015-03-21 04:22] mebezac commented on #94
Yeah you have jekyll 2.4.0 on your system. `require_from_bundler` wasn't introduced until jekyll 2.5.0, so you just need to update your jekyll version.

[2015-03-23 17:03] tunnelsup commented on #94
Thanks. I do believed that solved it! But my master plan isn't going to work because one of my gems 'github-pages' requires Jekyll 2.4.0 and isn't on 2.5.0+ yet. https://github.com/github/pages-gem/issues/121

[2015-03-23 17:03] #94 closed

[2015-03-23 17:04] imathis commented on #94
Well darn. Really there's not much I can do about that. Sorry.

[2015-03-23 19:04] Mazyod commented on #29
@kelcecil Cool stuff! Would love to see some expansion regarding migrating themes, else I'll try it someday.

[2015-03-23 20:07] mebezac commented on #94
@tunnelsup looks like you're using the opentheme. The `github-pages` gem is just to make sure you can push your jekyll code to a repo and have GitHub turn it into a static site for you.

If you remove that gem, you can then use the new version of Octopress. Then if you want to host your site on GitHub, all you have to do is run `jekyll build` to generate the static site and then push the contents

[2015-03-24 04:25] tunnelsup commented on #94
Thanks @mebezac! With your help I was able to finally get octopress3 and opentheme installed together. I'm really excited about this and will be launching a new blog using these method very soon.

[2015-04-01 00:18] logicminds opened #98 "haml-3.1.8 not listed as dependency"
octopress new post "test"
octopress 3.0.0.rc.35 | Error:  Could not find haml-3.1.8 in any of the sources

[2015-04-01 00:19] logicminds commented on #98
Nevermind, I think this is an issue in my environment.

[2015-04-01 00:19] #98 closed

[2015-04-01 19:43] dmayer commented on #55
If I were to create a new site right now, should I go with 2 or 3? Any idea when the first release of 3 will be?

Thanks for your great work!

[2015-04-02 01:51] davidized commented on #55
I would say go with 3, I created a new site a few weeks ago using gems from 3 and have had no major problems.

[2015-04-02 21:39] matthewmcvickar opened #99 "Don’t force layout into page and post YAML if templates exclude it."
**I'd like to be to configure `octopress new` to generate the page or post without adding `layout: page` or `layout: post` to the YAML front matter.**

I have YAML front matter defaults set in my `_config.yml` so that these settings are not necessary on every post and page:

[code]

Accordingly, I've changed my templates in `/_templates/` to exclude the `layout:` portion, but the `octopress new` c

[2015-04-24 07:00] rexdf opened #100 "how to generate and preview?"
How can I generate the `_post` into `_site`? I do not find any hint in readme.

The command line octopress is much slower than before. I need to wait at least 20+ seconds to get result for `octopress --help`

[2015-04-24 15:44] imathis commented on #100
You should use the Jekyll commands, `jekyll build` or `jekyll build --watch`. `jekyll server` boots up a server at localhost:4000 where you can preview your site. Use `jekyll --help` to learn more.

Regarding speed:

This is probably because of the number of gems you have installed. It takes ruby gems a while to boot up. If you're using bundler in your site, running `bundle exec octopress --help`

[2015-04-24 15:44] #100 closed

[2015-04-24 21:34] #91 closed

[2015-04-25 10:25] rexdf opened #101 "Unknown tag 'jsfiddle'"
[code]

Should I just remove the jsfiddle or is there a plugin for it?

[2015-04-25 15:26] imathis commented on #101
There is no jsfiddle plugin any more. You can port the one you used to use from imathis/octopress or you can remove it if you're not using it.

[2015-04-25 15:26] #101 closed

[2015-04-29 18:34] #99 closed

[2015-04-29 18:34] imathis commented on #99
Thanks for posting this! I've fixed it for the next release.

[2015-04-30 01:59] matthewmcvickar commented on #99
Awesome, thanks! How does it work? By reading the `defaults` in `_config.yml`?

[2015-04-30 02:02] imathis commented on #99
Well, before hand I had it added to the [default yaml](https://github.com/octopress/octopress/commit/7ec4c685db400e97730c4eda987a01e344ac2319#diff-6c1e91364e34d3a10b63264911ee57c3L20). This commit removes that. Now only title is added automatically even if you don't have it.

[2015-05-01 00:55] matthewmcvickar commented on #99
Got it! 👍

[2015-05-03 03:09] FranklinChen commented on #29
I got excited by today's JekyllConf (just watched a bunch of the YouTube video), and hope that an official migration guide will be provided from Octopress 2 to 3.

[2015-05-04 01:18] imathis commented on #29
Yeah, I think I can make a new guide, but it won't involve a theme yet since I haven't finished the new default theme. You can actually start using the Octopress CLI for creating posts and deploying now without changing anything.

[2015-05-04 01:31] NoahDragon opened #102 "Cannot load such file — octopress/docs/hooks"
When I run the octopress command `octopress docs`, I got the following error:

It looks like something is missing for my ruby. But I don't know what it exactly requires? What is the 'octopress/docs/hooks'?

Thank you in advance.

[2015-05-04 01:38] imathis commented on #102
I'm not sure why it wouldn't be able to access that file, it's [this line](https://github.com/octopress/octopress/blob/master/lib/octopress/docs.rb#L223) which it is complaining about. @parkr do you know of any reason why this would be happening?

[2015-05-04 02:08] NoahDragon commented on #102
@imathis  Thanks for reply. The similar error also occurs when I tried to use `octopress new post` to create a new blog page.

I'm thinking the problem may be caused by the ruby environment setting, but not sure how to fix it.

[2015-05-04 23:05] MitjaBezensek commented on #77
I just tried the 3.0.0 and I'm also having the problems with Octopress docs. Using Windows 7, having problems on any drive except c:
![log](https://cloud.githubusercontent.com/assets/2523721/7464335/a11ba8c2-f2c2-11e4-8c2f-ebc5e14a5cc6.png)

I'm seeing the same thing as @kimpenhaus.

[2015-05-06 00:55] dwhoban opened #103 "{{ date }} not working on "new page" command"
I have installed the gem then executed octopress new PATH to create the site.

I have added "date: {{ date }}" to the page template in _templates as per the Readme, essentially replicating the posts template.

However when I execute the command to create a new page this does not work and simply produces a blank field.

{{ YMD }} seems to work, however produces a date is the MM/DD/YY format.

Probl

[2015-05-06 16:30] Billiam opened #104 "'Octopress new' broken in 3.0.1: missing config key"
Octopress is expecting a `source` key in the jekyl config, which is not present on initialization.

User receives error as follows:

[code]

[2015-05-06 19:57] #104 closed

[2015-05-06 19:58] imathis commented on #104
Thanks for the report. I've just released a fix!

[2015-05-08 16:52] imathis commented on #102
Do you have `gem "octopress"` in your Gemfile? If not, add that and try `bundle exec octopress docs`.

[2015-05-09 08:15] hseeberger opened #105 "Version conflict with GitHub pages"
[code]

[2015-05-09 12:36] imathis commented on #105
This is definitely a problem caused by the strictness of the GitHub pages gem. @parkr, What do you recommend here?

[2015-05-10 04:48] parkr commented on #105
I'd probably do >= 2.0 wherever it's possible but you may not yet support 3.0 :(

[2015-05-10 08:45] moritzheiber opened #106 "Bug: Flag -d on new post will never add a custom date"
The flag `-d` it duplicated in [lib/octopress/commands/new.rb](https://github.com/octopress/octopress/blob/master/lib/octopress/commands/new.rb#L43) due to `-d` [also being an option for `add_page_options`](https://github.com/octopress/octopress/blob/master/lib/octopress/commands/helpers.rb#L6). Thus it's never possible to add a custom date to a new post.

A solution would be to rename or to remov

[2015-05-10 12:46] #106 closed

[2015-05-10 12:47] imathis commented on #106
Good catch. I've released 3.0.4 to address this. Thanks!

[2015-05-12 12:18] hseeberger commented on #105
@imathis, any chance to get this fixed soon?

[2015-05-12 12:53] imathis commented on #105
Octopress relies on features from Jekyll 2.5, but I've found a way around that and been able get the Octopress CLI working with Jekyll 2.4. I can release a version that you can use, but Octopress Ink and other plugins rely on features from Jekyll 2.5, so depending on what you use, you may still have the conflict.

Also, when 3.0 is released, everything will begin to require 3.0. I hope that GitHub

[2015-05-12 15:08] hseeberger commented on #105
Thanks for the quick reply, very much appreciated!

I'm using these Octopress gems:

[code]

Would the workaround work for these? If so, please let me know when/how to access the release.

[2015-05-12 15:10] imathis commented on #105
I'm finishing it up right now. Octopress Ink (which the Genesis Theme relies on) will be the tricky part. I think I can get it to work though.

[2015-05-12 15:22] hseeberger commented on #105
Sounds good ;-)

[2015-05-12 15:28] #105 closed

[2015-05-12 16:51] parkr commented on #105
Yay @imathis!

[2015-05-12 20:10] hseeberger opened #107 "Another dependency error?"
Using the latest and greatest Octopress 3.0.5 I get:

[code]

[2015-05-12 20:11] imathis commented on #107
I still haven't been able to release the latest Octopress Ink with wider support for older and newer versions of Jekyll. I believe that will address this.

[2015-05-12 20:14] hseeberger commented on #107
Sorry for being pushy ;-)

[2015-05-12 20:17] imathis commented on #107
No worries. it's just tricker than I thought to get this released. I'm trying to make this release work with Jekyll 2.x -> 3.x but Octopress Ink depends on several other gems which have a Jekyll 2.5 minimum. I'm having to update them all, test them, and make changes as necessary. Also some changes in Jekyll 3 (I think it's the new Liquid stuff) seem to break some dependencies so I'm trying to fix

[2015-05-13 01:25] NoahDragon commented on #102
@imathis it works after modified the gemfile. Thank you.

[2015-05-13 01:25] #102 closed

[2015-05-14 07:17] imathis commented on #107
I belive I've fixed all of these and released all gems that would cause this issue. Please run bundle update and see if that works for you again. Thanks :)

[2015-05-14 07:54] hseeberger commented on #107
Thanks!

`jekyll serve` works now. Well, I get the following warning, but it works:

[code]

[2015-05-14 13:34] imathis commented on #107
Try `bundle exec jekyll serve`

[2015-05-14 13:38] hseeberger commented on #107
Nice! That helps. Thanks.

[2015-05-14 14:49] #107 closed

[2015-05-15 19:51] pavelloz opened #108 "Theme management"
Hi,

I didnt find any info about that matter besides one [question on SO](http://stackoverflow.com/questions/15421831/is-it-necessary-advisable-to-remove-the-default-theme-in-octopress-when-installi).

I would suppose that it is very common use case for many people:
* Install octopress
* Install theme, find out that its outdated, install another one, another one -- found my perfect match
* commit

[2015-05-15 19:53] plttn commented on #108
@pavelloz I know @imathis can explain this far better than I can, but the short version is themes were never intended to be installed like how themes are installed on 2.0. 3.0 has a much better way of supporting themes (so I've heard anyways).

[2015-05-17 04:54] gntech commented on #108
check out brandon's talk at jekyllconf where he explains about the new theme handling in octopress 3.0. It is based on something called octopress-ink

[2015-05-17 13:23] imathis commented on #108
From [the latest post on octopress.org](http://octopress.org/2015/01/15/octopress-3.0-is-coming/)

Octopress is changing. Version 3 is already out there, but I'm still working on themes, so I can kill off version 2. I'm happy to continue discussion here, but since this is more of a question than an issue, I'm going to close it.

[2015-05-17 13:23] #108 closed

[2015-05-18 13:17] pavelloz commented on #108
Thank you all for such a quick response.
I didn't know that 3.0 is coming, I should pay more attention to the project blog before asking :)

[2015-05-26 15:51] pinalbhatt commented on #88
Deleting Gemfile.lock helped me to resolve this issue .

[2015-05-28 06:23] john-goldsmith opened #109 "Deploy results in "unknown file type" error"
First off: thanks for all of your hard work making Octopress :+1:

After generating a new site using v3.0.6 and configuring deployment using Git, running `octopress deploy` results in the following error:

`octopress 3.0.6 | Error:  unknown file type: /Users/jgoldsmith/Sites/blog-octopress/_site/.`

Manually creating a `_site` directory solves the issue, but the only thing that's pushed to my `mas

[2015-05-28 06:37] john-goldsmith opened #110 "Update README to include deploy info"
As part of the new user onboarding process, I'd encourage you to update the README to either include or link to the [deploy docs](https://github.com/octopress/deploy), especially in light of the migration from 2.0 to 3.0.  Since `octopress-deploy` is a [core dependency](https://github.com/octopress/octopress/blob/master/octopress.gemspec#L24), there's immediately a discrepancy between the README a

[2015-05-28 16:24] imathis commented on #110
Good call. Thanks for posting this!

[2015-05-29 03:04] imathis commented on #109
Sorry to take a while to get back to you on this John. What is your Jekyll configured destination directory?  Is Jekyll building to `_site`? Are you running the deploy command from the root of your project?

[2015-05-29 04:20] #110 closed

[2015-06-01 21:28] imathis commented on #109
@john-goldsmith I'd love to help you if you can answer some of these questions ^ :)

[2015-06-02 03:05] #103 closed

[2015-06-02 03:12] imathis commented on #103
I'm sorry for letting this issue sit for so long. I somehow missed it until now. It should be fixed now as I've released version 3.0.7. Thanks for posting this!

[2015-06-02 03:29] dwhoban commented on #103
Thanks Brandon,

Let me know how I can contribute to the docs too.

[2015-06-03 13:51] schnee opened #111 "How to create drafts/posts with ".md" instead of ".markdown"?"
Is there a config for octopress that will create .md files instead of .markdown?

[2015-06-03 14:03] schnee commented on #111
post_ext: md   #inside of _config.ym seems to do the trick

(I should have read the code first - keep around for posterity)

[2015-06-03 14:03] #111 closed

[2015-06-04 23:00] lunaskyrise opened #112 "Implement preview functionality"
The ```rake preview``` functionality seems to be gone from Octopress 3, leaving one unable to test the resulting site without resorting to a full deployment via e.g. rsync to a test VM.

Can this functionality be reimplemented?

[2015-06-04 23:11] plttn commented on #112
Preview/generate is now under the purview of jekyll, so you'd want `jekyll serve`.

[2015-06-05 15:25] imathis commented on #112
That's correct, Octopress no longer uses Rake and it no longer offers features that Jekyll offers. You can read the full CLI docs on the README for this project. Thanks for the assist @plttn!

[2015-06-05 15:25] #112 closed

[2015-06-06 16:52] idiazroncero opened #113 "Can/should I use octopress 3 or 2?"
Hi there;

I am planning on making a blog for myself, and looking for solutions other than database-powered CMSs I found your amazing project. It is perfect for my needs. Congratulations on your work!

I read your [blog post at Octopress.org] (http://octopress.org/2015/01/15/octopress-3.0-is-coming/) and i thought 3.0 wasn't still ready, but then I realized the post's date is January. Then I visit

[2015-06-06 21:03] #55 closed

[2015-06-06 21:03] parkr commented on #55
3 has been released :)

[2015-06-06 21:06] VirusKA commented on #113
3.0 is offically released

[2015-06-06 22:56] elboulangero commented on #109
Hi, I stumbled on the same problem while trying to get started with octopress. This error shows up when the `_site` directory doesn't exist (btw, you miss a check in your code, in  ). And in my case, '_site' doesn't exist because I never built

[2015-06-10 20:20] AnthonyMastrean commented on #29
I was just looking for this information. I'll try something like @kelcecil's instructions and let you know how it goes.

[2015-06-11 20:00] plttn commented on #29
One point of note, if you're used to using pow to get a .dev address rather than using localhost:4000, it won't work so well without some fudging either on the jekyll side or the pow side.

Fixing it on the site side requires you to either
1. use `public` instead of `_site`, like legacy octopress
2. use `rack-jekyll` (which is kinda outdated, and in my testing, not as fast as it could be)

Fixing

[2015-06-11 22:36] DanTheColoradan opened #114 "deploy processing rmarkdown -> markdown"
I've been looking for a way to process [rmarkdown](http://rmarkdown.rstudio.com) before it goes to my host (github). There are a couple of ways I could see doing it:

  - pre-process .rmd to .md in R and then octopress deploy
  - creating an octopress plugin that processes right before deploying
  - some other way through jekyll

Do you have any wisdom about which direction to go? I'm grasping at

[2015-06-12 06:16] imathis commented on #114
You may want to look into creating your own [Jekyll Converter](http://jekyllrb.com/docs/plugins/#converters) which can process these files for you in the normal Jekyll build process. Also someone was working on an RMarkdown converter in [this Stack Overflow post](http://stackoverflow.com/questions/13793858/jekyll-converter-for-r-markdown) their code may be terrible (I don't know) but I just figure

[2015-06-12 06:16] #114 closed

[2015-06-12 20:30] DanTheColoradan commented on #114
Awesome. Thanks!

Your links lead me to [knitr-jekyll](https://github.com/yihui/knitr-jekyll), which I think is a great start.

[2015-06-12 20:31] imathis commented on #114
Excellent. Glad I could help. :)

[2015-06-15 18:27] imathis commented on #113
My Octopress 2 support is basically done now. I'll occasionally work on fixes for it, but it has very little of my attention. Octopress 3 embraces the future of Jekyll and is much easier for me to maintain. My ticket turnaround time is typically really fast since everything is broken up into separate projects. The only drawback for Octopress 3 right now is the lack of themes. That's something I'm

[2015-06-15 18:27] #113 closed

[2015-06-17 01:21] deluan commented on #86
Just for the record, I had this problem with a newly installed Ruby 2.2.0 instance and the solution for me was running `bundle update` after `bundle install`.

This is the post that helped me: http://stackoverflow.com/questions/29245100/github-pages-error-running-jekyll-locally

[2015-06-17 04:53] imathis commented on #109
Oh I should have posted. A new version of octopress-deploy has been released. It checks for the presence of the `_site` directory and aborts with a helpful message if you haven't built yet. I think that solves this issue.

[2015-06-17 04:53] #109 closed

[2015-06-17 15:11] imathis commented on #86
Interesting. Thanks for the update @deluan

[2015-06-27 10:37] fgimian commented on #29
I might give this migration a shot too folks.  Based on the releases, am I correct in guessing that Octopress 3.0 is now considered stable?

[2015-06-30 16:52] kinsomicrote opened #115 "Unresolved specs during Gem::Specification.reset:"
Octopress 3 does not create a Gemfile in the folder so i created one. When i run
jekyll serve i get the following errors:

[code]

[2015-07-02 05:25] dagda1 opened #116 "Migrating from old octopress"
My blog is currently a fork of the [old octopress site](https://github.com/imathis/octopress).

Is there any guidance or docs on how to migrate to this new site?

[2015-07-02 20:03] oblitum opened #117 "css/main.scss is executable"
Just got back to Octopress, now 3.0 =).

I've just generated a scaffold site and noticed in Vim that `css/main.scss` is with executable permission, which is weird.

Regards!

[2015-07-04 04:52] imathis commented on #117
Where has this main.scss file come from? Why do you expect that Octopress has something to do with this?

[2015-07-04 04:53] imathis commented on #115
Are you running `bundle exec jekyll serve`?

[2015-07-04 04:55] oblitum commented on #117
Well, I don't know, I just generated the scaffold site as stated in the docs, if octopress has nothing to do with this file sorry, the culprit should be elsewhere then, but I dunno from where the default scaffold site files comes from.

[2015-07-04 04:56] imathis commented on #117
Ah, that comes from Jekyll's site scaffold. Octopress adds the `_templates` directory, and the rest comes from Jekyll. How strange that it's executable. You may want to file an issue on Jekyll.

[2015-07-04 04:56] #117 closed

[2015-07-04 04:59] oblitum commented on #117
Ah!!!, Nevermind, I just recalled that I've generated the default jekyll site before running octopress (force init) over the same directory. I believe it was this, if I recall correctly.

[2015-07-04 04:59] oblitum commented on #117
Ok, no problem.

[2015-07-06 01:52] angelacode opened #118 "config.yml not created ?"
Hi from the documentation, it implies that a config.yml is created since there's a published default.

After installing the gem, there is no config.yml.  Should I just copy and paste what you have?

[2015-07-06 02:00] angelacode opened #119 "How do I install an octopress theme in Octopress 3.0?"
How do I install an octopress theme in Octopress 3.0?

[2015-07-06 02:46] busches commented on #118
You need to run either `octopress new <site>`, which does `octopress init <site>` + `jekyll new <site>`, or if you've already done `jekyll new <site>` then you can just run `octopress init <site>` to add in octopress.

[2015-07-06 02:54] angelacode opened #120 "octopress publish finds a draft that was deleted"

[2015-07-06 02:56] #120 closed

[2015-07-06 20:52] oblitum opened #121 "CNAME got deleted on octopress deploy"
I have a github organization site on a custom url, I've tried to put a CNAME file in my `source` repo and run `octopress deploy`, it didn't put the CNAME file in the `master` repo, I then tried to put it inside `master` myself but the next `octopress deploy` erased it.

What should I do?

[2015-07-06 21:06] oblitum commented on #121
Sorry, forgot `jekyll build` :P

[2015-07-06 21:06] #121 closed

[2015-07-08 03:28] angelacode commented on #118
okay thanks...

[2015-07-09 19:58] smcabrera opened #122 "octopress -h shows incomplete list of subcommands"
[code]

I wondered if there was a subcommand for generating a new draft or post and sure enough there is, which I found out on the documentation here on GitHub. It looks like this is only for the main ```octopress -h``` list because when I tried ```octopress new draft -h``` I get the correct help text:

[code]

It looks like all that's needed is to update the main help command to show the complete

[2015-07-13 05:06] timfong888 opened #123 "will old themes continue to work and be deployed the same way?"
will old themes continue to work and be deployed the same way?

[2015-07-15 06:19] timfong888 commented on #123
Hi wanted to know the status of octopress 3.0 and how it works with previous themes?  I couldn't figure that out so just went to Octoress 2.0 until more clarity on th eupgrade.  Thansk

[2015-07-15 11:52] e9t commented on #123
I just upgraded from 2.0 to 3.0.4 and my themes work fine.

[2015-07-15 12:04] e9t opened #124 "#call(<DirectoryWatcher::Event type: removed path: 'source/robots.txt'>) and all I got was this lousy exception Build Failed"
My build fails when I run `rake preview`.

<pre>
...
/Library/Ruby/Gems/2.0.0/gems/directory_watcher-1.5.1/lib/directory_watcher/threaded.rb:258:in `do_work'
/Library/Ruby/Gems/2.0.0/gems/directory_watcher-1.5.1/lib/directory_watcher/threaded.rb:231:in `block in run'
/Library/Ruby/Gems/2.0.0/gems/directory_watcher-1.5.1/lib/directory_watcher/threaded.rb:228:in `loop'
/Library/Ruby/Gems/2.0.0/gems/

[2015-07-15 12:11] justinrummel commented on #124
You now use the jekyll command to preview and build.  Think of Octopress as a helper to Jekyll vs. a standalone application.

I wrote my findings about six months ago here: https://www.justinrummel.com/migrating-from-octopress-2-to-octopress-3/

[2015-07-15 12:36] e9t commented on #124
Thanks Justin!
I'm afraid I wasn't aware of the updated commands. I'm getting other errors with jekyll now, but since the problem I mentioned in this issue is no longer a problem, I'll close this issue.

[2015-07-15 12:36] #124 closed

[2015-07-15 12:59] ganesshkumar commented on #119
Same question here

[2015-07-15 16:59] timfong888 commented on #123
Hm, thanks ---!

[2015-07-15 17:03] timfong888 commented on #123
Is the process the same: to clone, then rake?  I thought the gem based octopress 3.0 did away with rake?

[2015-07-15 19:14] timfong888 opened #125 "does octopress publish --force work?"
I get the following

[code]

[2015-07-15 19:17] timfong888 commented on #123
do you still need to rake generate?  The docs look like it creates a post and then deploys to the host, but not clear how the static public files are generated.....

[2015-07-15 19:21] timfong888 commented on #123
Ah, this page seems to explain better: http://www.chrisanthropic.com/blog/2014/installing-octopress-3-0-from-scratch/

[2015-07-15 19:32] imathis commented on #125
Thanks for the note. I'll look into it!

[2015-07-15 19:39] imathis commented on #125
Good catch. I just released 3.0.10 which should address this issue. Thanks for the report!

[2015-07-15 20:51] oblitum opened #126 "Any reason for octopress unpublish to rename filename based on post title?"
I've just done my first `octopress unpublish` on a post and it did an unexpected thing, it moved the post file from `_posts` to `_drafts` but, it has renamed the file based on the current title of the post, this is really unwanted for me since I've purposely reworded the title a bit to not be the same as its filename version.

[2015-07-15 20:53] imathis commented on #126
Good call. I shouldn't change the file slug. I'll work up a fix for that.

[2015-07-15 20:55] oblitum commented on #126
Cool, thanks!

[2015-07-15 21:23] #126 closed

[2015-07-15 21:30] imathis commented on #126
Alright. I've just released 3.0.11 which should address this. Tanks for posting the issue!

[2015-07-16 04:13] sonal-keshav commented on #119
+1 (we really need some docs like Octopress 2.0) (commenting to get replies)

[2015-07-17 11:52] romanman opened #127 "code style"
Hey Mathis,

Is it possible to have by default
nice light style of the code (github style)
The same way you have on the
octopress.com I think it is much more
popular then the one you provide
by default.

Thanks in advance
Roman

[2015-07-17 12:19] busches commented on #127
Try out his [solarized plugin](https://github.com/octopress/solarized), and use the `light` theme.

[2015-07-17 16:58] #125 closed

[2015-07-17 19:37] romanman commented on #127
@busches : thanks , I do use it , but it still by default
define kind of cream color for source background
so it requires some more hacking to get it right.

[2015-07-20 08:22] garfieldnate commented on #102
Was just going to report this separately but I found this issue. I am having the same problem (also Octopress 3.0), but my gemfile does contain  `gem "octopress"` in it ([here](https://github.com/garfieldnate/garfieldnate.github.io/blob/source/Gemfile)).

`octopress new draft`, `octopress doc`, etc. don't work unless I call them with `bundle exec`. I am not very experienced with Ruby (sorry, I kno

[2015-07-20 08:35] garfieldnate opened #128 "should handle nil return value from pygments"
My computer is apaprently super slow, so I have to set an environment variable `MENTOS_TIMEOUT` to get any output from Pygments at all. If the process takes too long then Pygments times out and returns nil. The `pygments_code.rb` plugin does not currently handle the nil return case. In Jekyll they print a nice notice: https://github.com/jekyll/jekyll/blob/407fc82b2d822ace149dfaf6ee74991163a9e2b6/l

[2015-07-21 11:49] young40 opened #129 "Liquid Exception: Unknown tag 'include_code' in"

[2015-07-21 11:54] justinrummel commented on #129
May want to look at the codeblock tag: https://github.com/octopress/codeblock

[2015-07-21 13:43] Falkor commented on #119
+1 ;)

[2015-07-23 17:03] asomarribasd opened #130 "Liquid Exception: Liquid syntax error: Unknown tag 'include_array'"
I'm pretty sure this may not be an actual "issue".
I was porting a theme from octopress 2.
An noticed some of the commands does not work on octopress 3.
I downloaded the plugin to the blog and add it to the _plugins folder
https://github.com/imathis/octopress/blob/master/plugins/include_array.rb
And it looks like that fix the problem.
But I'm wondering if this is the correct way to do it. Or if Oc

[2015-07-23 18:13] justinrummel commented on #130
I'm answering this from memory vs. anyone specific from Octopress, but I believe anything from Octopress 2 can be considered deprecated and not supported.

By add this to the _plugins folder you have a short term solution, but I would find a long term solution.

In the comment section of the link you provided it states:

May take a look at Jekyll's tag to see if it works as you need.  May just nee

[2015-07-26 04:45] e9t commented on #70
I've added `gem 'octopress-image-tag'` to my `Gemfile`

<pre>
source 'https://rubygems.org'

gem 'jekyll'

group :jekyll_plugins do
    gem 'octopress', '~> 3.0.0.rc'
    gem 'octopress-image-tag'
end
</pre>

and `bundle update`d,
but I'm still getting an error.

<pre>
Configuration file: /Users/e9t/dev/sites/lucypark.kr/source/_config.yml
            Source: /Users/e9t/dev/sites/lucypark.kr/sourc

[2015-07-26 13:41] suchja opened #131 "Using `ß` in Templates causes invalid byte sequence error"
I'm getting the `Error:  invalid byte sequence in US-ASCII` when using the `#` as part of a template. I found jekyll/jekyll#960 and tried using utf-8 in _config.yml without any success. Guess this shouldn't be the problem as I'm running Jekyll in Version 2.5.3 with ruby 2.1.6p336.

I get the below error when trying to create a new post with octopress in version 3.0.0.rc.33. Any suggestions? Not su

[2015-07-26 14:57] busches commented on #70
You need to add it to the `_config.yml` file as well.
On Jul 25, 2015 11:45 PM, "Lucy Park" <notifications@github.com> wrote:

[2015-07-26 14:57] tooh commented on #131
Perhaps this helps
export LANG=en_US.utf-8 :)

[2015-07-26 15:07] e9t commented on #70
Ah, that fixes it. Thanks @busches!

[2015-07-26 15:09] imathis commented on #70
Thanks for the assist @busches!

[2015-07-26 23:25] suchja commented on #131
@tooh Just tried it, but the problem remains.

I just realised that the problem isn't the `#`. Instead I'm using an `ß` in one of my sentences. This seems to cause the trouble. I had a look for "Umlaute", but missed the `ß`. Sorry for this confusion!

[2015-07-27 04:38] imathis commented on #131
This is usually because of editor or shell encoding not being set to utf-8. I assume your editor is writing ASCII to the template and that's causing the error.

[2015-07-27 05:08] imathis commented on #131
This really is something that should be solved in the shell or the editor, but I'm trying something to see if I can force the template to UTF-8. If you're using a Gemfile for your site, update it to `gem 'octopress', '3.0.12.pre.1'` or if you don't run `gem update octopress --pre`. Then give this another try to see if you still  get the error.

[2015-07-27 07:48] suchja commented on #131
@imathis Such a quick commit. Thanks! Unfortunately only the error message changed. I now get `octopress 3.0.12.pre.1 | Error:  "\xC3" on US-ASCII`. Do you need any other information from my setup?

By every means I don't understand this. When looking into `env` I see `LANG=en_US.utf-8`. Sublime, my editor, shows, that I'm saving my file in `utf-8`.

Not sure whether it is related, but I'm wonderi

[2015-07-28 17:53] romanman opened #132 "strange gh-pages deploy"
I am getting this bad deploy :
http://ether-camp.github.io/ethereumj.io/

even if you look at the branch it is all set good

https://github.com/ether-camp/ethereumj.io/tree/gh-pages

What can be the reason ?

P.S. I have good deploy in other repository and the same code
than switched to a new one , and got that.

Thanks in advance.

@imathis

[2015-07-28 17:58] plttn commented on #132
It looks to me like you've misconfigured your site URL in the deploy
settings (or possibly config.yml). Your site is running on the subdomain
ethereumj.io/, but all your stylesheet references are looking at the main
domain.

On Tue, Jul 28, 2015 at 10:53 AM Roman Mandeleil <notifications@github.com>
wrote:

[2015-07-28 18:52] romanman commented on #132
@plttn : what is the correct way to set it , please

[2015-07-28 18:55] plttn commented on #132
I haven't ported my site over to 3.0 yet (I know I should, but it'll be a ordeal), but it should be setting your `site:` variable in `_config.yml` to http://ether-camp.github.io/ethereumj.io/, as I'm guessing it's currently http://ether-camp.github.io/.

[2015-07-28 19:03] romanman commented on #132
yep `root: /ethereumj.io` in `_config.yaml` solved

[2015-07-28 19:08] imathis commented on #132
Thanks for the assist @plttn!

[2015-07-28 19:08] #132 closed

[2015-07-29 09:44] romanman commented on #132
@imathis FYI: some of the aspects
didn't passed the subdomain config
maybe it's a theme problem (not sure)

http://i.imgur.com/WbHSYwQ.png

[2015-07-29 13:38] romanman opened #133 "Why the search box..."
Why the search box is not searching the site
but the entire web ?

http://ethereumj.io/

Thanks
Roman

@imathis

[2015-07-29 13:54] #133 closed

[2015-07-31 09:53] romanman opened #134 "Can't copy/paste text from code highlight"
Can't copy/paste text from code highlight ,
am I using the wrong plugin for code ?

http://ethereumj.io/blog/2015/07/29/release-1-0-0-RC1/

[2015-08-05 20:35] markalanevans commented on #119
+1

[2015-08-05 20:52] erictirado commented on #119
It's as easy as 123:
[how to install genesis theme](https://github.com/octopress/genesis-theme)
NOTE: that a ruby gem for installing the theme must already be created. When 3.0 is fully released with documentation, including theme creation documentation, you can expect more octopress themes to become available.
Detailed docs are coming I'm sure. He gave the world access to 3.0 early out of grace.

[2015-08-11 17:55] markalanevans opened #135 "Ruby is: 'cannot load such file -- posix_spawn_ext'"
Running:
[code]

Results in:

[code]

I had a simple gem file with only this in it:

[code]

[2015-08-11 17:58] plttn commented on #135
Did you `bundle install` first?

[2015-08-11 21:00] erictirado commented on #135
You need [bundler](http://bundler.io/) installed in order to run `bundle install` as well. It took me a while to figure that one out.

[2015-08-11 22:53] markalanevans commented on #135
@erictirado @plttn
Yes, I have octopress working. I even have it publishing to my blog, but running the docs command throws that error.

[2015-08-12 14:16] hotfix opened #136 "Build Failed"
Hi,
I'm trying to add plug-ins to my octopress

so i add in to my _config.yml this lines
[code]

after i tried to build the project and get error like  "Object doesn't support this property or method"

[code]

I'm using windows7, looks like a problem with execjs library?

Thanks Alex

[2015-08-13 13:48] suchja commented on #131
Finally! I figured out that it is not an issue with Octopress. I'm running it inside a docker container. There the settings for localisation were not properly set.
Running the command `locale` inside the container showed that everything was set to "Posix". After setting `-e "LANG=C.UTF-8"` on `docker run`, everything works great.

Thanks for your support!

[2015-08-13 13:48] #131 closed

[2015-08-13 13:51] suchja commented on #131
By the way. Keep in mind that on many docker images `en_US.UTF-8` is not available. When using debian as base distribution only `C.UTF-8` will be available.

[2015-08-26 19:35] abustamam commented on #116
I don't know if you were able to get it done but...

I'm in the middle of migrating, and writing my blog post detailing how I'm doing it.

I will get back here when I'm done.

[2015-08-26 19:41] abustamam opened #137 "Cannot unpublish a post"
Tried to unpublish a post, got this error:

[code]

I wonder if `octopress/draft` should be `octopress/drafts`?

[2015-08-26 19:45] abustamam commented on #137
Nevermind. I updated octopress to the latest, and it works.

[2015-08-26 19:45] #137 closed

[2015-08-28 04:06] capnfabs commented on #122
At least for the "new" command, I would find this really helpful. I've been looking for the last ten minutes on how to create a new draft post.

[2015-08-28 05:28] parkr commented on #122
Maybe update the help text?

[2015-09-04 18:14] envygeeks opened #138 "Wrap Jekyll's default commands."
With Octopress being tied to Jekyll and a lot of Jekyll users liking Octopress it would be nice if life were easier for them.  In that if you want them to install the Octopress gem then make it a one stop shop for easy town: Wrap the default Jekyll commands.  So instead of having to do `octopress blah` and `jekyll blah` allow us to do `octopress blah` -> `jekyll blah` so if I want to run server I

[2015-09-04 18:22] envygeeks opened #139 "Return a bad exit status if the command does not exist."
At this time a script has no idea if something failed if using octopress to do tasks because Octopress command does not return anything but 0 when a command does not exist.

[2015-09-07 14:40] imathis commented on #139
Ah, yes. I need to fix this thanks for the report!

[2015-09-13 07:56] ddewaele commented on #123
This post doesn't seem to mention themes at all. Do you still use rake to install them ? I've tried this :

[code]

Also commands like ```octopress build``` and ```octopress server``` don't seem to be doing anyhting.

Using octopress 3.0.11

[2015-09-16 13:17] scmbradley opened #140 "Making `new post` use `layout theme:post`"
I'm trying out the genesis theme, and one awkward thing is that the `new post` I create has `layout: post` and I need to change this manually to `layout: theme:post` every time.

I guess the right thing to do is to edit `_templates/post` but I don't understand the line `layout: {{ layout }}` enough to edit it appropriately.

[2015-09-16 14:34] thr0wable commented on #140
If not already there (somewhere), maybe there should be a configuration option to use a default theme?

[2015-09-17 23:56] rjurney commented on #82
Seeing this issue with liquid 3.0.6.

[2015-09-19 02:45] onmyway133 opened #141 "Liquid Exception: Variable '{{0, 264}' was not properly terminated with regexp"
I get this error when I `rake generate`. The problem is that in my markdown, there's a code block

[code]

How to get rid of this?

[2015-09-20 17:49] gruberb opened #142 "octopress 3.0.11 | Error: cannot handle socket"
I want to deploy to Heroku. My _deploy file looks very basic:

[code]

When I run `octopress deploy` now, I am getting this error:
`octopress 3.0.11 | Error:  cannot handle socket`

What am I doing wrong?

[2015-09-25 08:50] thr0wable opened #143 "Add category option when creating a new post"
When you create a post you can supply the directory where the post should go only below the `_posts` folder. However, when you use categories to organize posts jekyll wants the structure `category/_posts`.

It would be nice to have an option `--category` which implements that.

[2015-09-26 02:21] kpitt commented on #140
Just set the `post_layout` option to `theme:post` in the `_config.yml` file. This controls the value that is substituted for `{{ layout }}` in the template file. See the description of the default configuration in the README: https://github.com/octopress/octopress#configuration

[2015-10-01 08:55] simonh1000 commented on #85
@justinrummel thanks as well

[2015-10-18 22:24] jslim89 commented on #29
@kelcecil Is it possible to fix the post URL with **blog** prefix? e.g. http://kelcecil.com/golang/2015/01/09/using-go-generate-in-go-1-dot-4.html, fix it to http://kelcecil.com/blog/2015/01/09/using-go-generate-in-go-1-dot-4.html instead?

[2015-10-19 18:07] gregoryjscott commented on #136
@hotfix Just ran into this exact error and it was due not having a JavaScript runtime installed. (In my case it was a Windows CI server.) Read https://github.com/sstephenson/execjs for JavaScript runtime options (e.g. Node).

[2015-10-19 19:30] damianesteban opened #144 "Deployment to AWS S3 - CSS is not rendering properly"
I am attempting to deploy my Jekyll/Octopress 3.0 static site to an Amazon S3 bucket.
Following the instructions in the repository, I'm using the `aws-sdk-v1` gem.

In my _deploy.yml file, I have the headers configured as follows:
[code]
In the AWS web console, the metadata of my CSS file is `text/css`.

Does anyone know what may be causing the issue?  Perhaps I should use Octopress 2 for now?

[2015-10-20 21:06] x8core opened #145 "how actually install octopress?"
I think it maybe useful for Ubuntu 14+ users. Full command list for installation of Octopress. I waste two days for this shit and it finally works.

[code]

[2015-10-21 20:10] damianesteban commented on #144
This was my fault - I hadn't setup my domain properly yet.

[2015-10-21 20:10] #144 closed

[2015-10-21 20:12] damianesteban opened #146 "Error with octopress deploy which has appeared out of thin air"
Last night I ran `octopress deploy` several times with no issue at all.

Just now I tried to run it and I received the following error:

`octopress 3.0.12.pre.1 | Error:  undefined local variable or method `options' for Octopress::Deploy:Module`

Any thoughts on what might be causing this?

[2015-10-21 20:17] #146 closed

[2015-10-25 19:39] bronzdoc commented on #119
+1

[2015-11-02 21:17] hotfix commented on #136
@gregoryjscott  thanks works for me too.

[2015-11-02 21:17] #136 closed

[2015-11-04 07:27] Ipstenu opened #147 "Feature Request: Allow Custom location of templates"
With Jekyll 3.0 you can easily move your folders by defining the location in `_config.yaml` like this:

[code]

That puts my plugins, for example, in `_source/_jekyll/_plugins`

It would be nice if you could also move your templates to match:

`templates_dir: _jekyll/_templates`

[2015-11-04 23:34] kinsomicrote commented on #85
Any fix for this yet?

[2015-11-06 11:22] arielelkin opened #148 "what's the difference between this repo and the one at github.com/imathis/octopress"

[2015-11-06 12:18] after100 commented on #148
This 1 comes with extra magic dust on top

- - -
- - -
- - -
- - -
- - -
- - -
- - -
- - -
READ THE FUCKING HOMEPAGE.
HERE. I WILL THROW YOU A BONE http://octopress.org/
YOU NEED TODO THE REST

[2015-11-06 14:56] arielelkin commented on #148
Dude what the *fuck* is your problem??

The project's homepage doesn't actually describe the difference between the two repos.

It's not clear: It that tells you that "Octopress 2.0 surfaces" and that "Octopress 3.0 is coming". It's really a blog and its last post was from January 2015. WTF?

And assuming that the homepage is the source of truth, it still doesn't adhere to software versioning stan

[2015-11-06 15:24] pahles commented on #148
@arielelkin While the comment of @after100 lacks any kind of subtlety, maybe you should get off your high horse in telling people how things have to be done. The world isn't that ideal. Using the word "fuck" several times won't help either.

[2015-11-06 15:57] arielelkin commented on #148
Let me tell you what doesn't help:

* People who intervene in discussions without actually addressing the matter at hand
* People who get scandalised at expletives
* People who think that "the world isn't that ideal" is an excuse for mediocrity and bad manners
* People who think that being on a high horse is using *GitHub fucking Issues* to tell people their library isn't adhering to standards.

[2015-11-06 16:01] plttn commented on #148
Funnily enough, Octopress 2.0>3.0 did follow semver, as there were major changes.

In short, 2.0 was distributed by forking that repo which was not an effective way of doing it. 2.0 was not merged into 3.0 as 2.0 is deprecated but still available.

[2015-11-06 18:25] pboling commented on #148
TL;DR Don't fucking use Octopress unless you want to read the source and write the migration guide yourself, fuckers!!!!!

[2015-11-06 18:29] plttn commented on #148
In the interest of actually answering your question @arielelkin, 2.0 was distributed by forking that repo. @imathis did not believe that was sustainable, so the distribution method was changed (ruby gems), and with that, a new repo was needed.

the one under the octopress org is the one you should be looking at, not the one under imathis's account.

[2015-11-07 02:54] jingsam commented on #148
Easy, everyone. Words hurt people. @plttn have clarified the difference, so just relax! @arielelkin thinks that the author should state the difference in documents. However, I do not think it is a responsibility of the author, since he did not charge you anything. @arielelkin should google first before  submit this issue. It is the smart way to ask questions.

[2015-11-07 06:46] pboling commented on #148
It is just as much anyone's responsibility to not document (or not) as it is our responsibility to Google.

Though... if it is nowhere documented, what good does Googling do?  That's kind of the point here.

[2015-11-07 17:06] holdenweb commented on #148
well, this certainly looks like a project worth avoiding

[2015-11-07 17:09] ludwick commented on #148
I just want to remind everyone that:

* The maintainer and everyone who has contributed are volunteers. They have lives and paying jobs they likely prioritize over this.
* Being hostile or demanding (with or without curse words) causes anyone reading to be less interested in spending their free time on this project or any other.

Please consider how others will interpret your comments and consider

[2015-11-07 20:06] drobban commented on #148
Good answer plttn.
The behaviour of after100 is unacceptable. I understand the reaction of arielelkin.

This will definitely scare away potential contributions and bring bad reputation to the project and the maintainers.

[2015-11-08 01:14] tristanfisher commented on #148
I'm not upset and I have no dog in this fight, but I want to express how I wish to be offended by this also!!!!!!

[2015-11-08 03:36] onmyway133 opened #149 "Author is not link"
I'm using octopress and really happy with it. There 's just one thing. Here is my `author` section in `_config.yml`

[code]

And I already use that handle in my post

[code]

After `git add`, `git commit`, `git push`, `rake generate`, `rake deploy` I see that my name is just text, not link, I suppose it will link to `web` in my `author` section

You can see `http://www.fantageek.com/blog/2015/11/0

[2015-11-09 01:41] rustamagasanov opened #150 "Bug with code blocks(categories?) parsing"
Steps to reproduce: create new post with the following content

    ---
    layout: post
    title: "1"
    date: 2015-11-04 19:39:31 -0500
    comments: true
    categories:
    ---

[code]

[code]

Run `rake generate` or `rake preview`. The following error appears:

    Error: Pygments can't parse unknown language: </p>.
    Error: Run jekyll build --trace for more information.

By experimenting

[2015-11-09 16:50] bg-scro opened #151 "Cannot find site build with octopress build/octopress deploy commands"
Have been trying to get Octopress working on Github pages for several days and having limited success. Can't seem to find good documentation on Octopress 3 anywhere so I've been working through a mix of steps from various blogs but nothing seems to work. Went back to a clean setup and tried to go through the steps on your github page readme. I've generated some dummy pages and posts with `octopres

[2015-11-09 16:52] plttn commented on #151
In short, Octopress doesn't shim commands for Jekyll anymore. Building from
Jekyll should cause it to work.

On Mon, Nov 9, 2015, 8:50 AM Brett <notifications@github.com> wrote:

[2015-11-09 17:42] bg-scro commented on #151
Thanks for the quick response. So I ran `jekyll build` and that seemed to work - it generated the _site folder. I then ran `octopress deploy`, which pushed to Github.

I think what is very confusing is that it's not entirely clear in the documentation that you first need a jekyll site, then run `octopress init` within that project folder to create the _templates folder, and proceed with the other

[2015-11-09 17:42] #151 closed

[2015-11-10 17:18] bg-scro commented on #146
That just happened to me. Realized I was trying to run the command from a subfolder. When I cd'd back to the root folder for the site, it worked fine.

[2015-11-11 03:57] rvf0068 commented on #145
That was useful, thanks. With `rbenv rehash` one does not need to enter a new terminal.

[2015-11-12 21:50] justin808 opened #152 "Octopress crashes with latest gems"
I just ran bundle update given the following Gemfile, and prior/next Gemfile.lock. Some changes in peer dependencies breaks Octopress.

[code]

Gemfile:
[code]

New Gemfile.lock:
[code]

Old Gemfile:

[code]

Old Gemfile.lock:

[code]

[2015-11-12 22:13] justin808 commented on #152
Here's the Gemfile that works:

https://gist.github.com/justin808/57dbd295ce9fe3a72fde

[code]

[2015-11-19 12:54] apatrida commented on #148
It really isn't clear what the state is, the question was valid and useful.  There is no definitive statement about 3.0 status and all sounds tentative "is coming", "what's coming", "...if you’re curious, you can browse..." but then silence.  And docs I think are meant to be the README.MD from the Octopress repo?

So we see a really old Octopress 2, and a unfinished Octopress 3 with the last news

[2015-11-19 13:14] arielelkin commented on #148
Dead on.

[I sent out a tweet to octopress three days ago](https://twitter.com/AriVocals/status/666261842566737920) asking for an official clarification.

No reply.

If a project owner is neglectful to the extent that they won't bother clarifying, when asked, what the status of their project is, I infer that the owner doesn't care and that their software is not properly maintained.

The status as

[2015-11-19 14:26] mjohnq3 commented on #148
Read this: [What is Octopress?](https://mjohnq3.github.io/blog/2015/03/31/what-is-octopress/)
Install Ruby on your platform
Install Jekyll (use 2.x for now)
Install Octopress 3.0.11
Read the Octopress README. It's quite useful.
"Blog like a hacker."

[2015-11-22 08:54] GustavoCaso opened #153 "First time contributing"
@imathis Hi I just want to help with some issues, I really enjoy using octopress and I wanted to give back by helping the community.

I just wanted to know if there is any issue that come to your head that I can start with.

Thanks.

[2015-11-23 19:41] feriancek commented on #148
Thank you @apatrida for actually answering the question. I am here specificity because I googled looking for the same information @arielelkin was, and ended up here. My google search was literally "when is Octopress 3.0 coming" hoping to catch a blog post about it. This issue was...not what I expected from a mature project.

I'd like to point out that @plttn is empirically incorrect, the gem is li

[2015-11-23 20:26] parkr commented on #148
@arielelkin To answer your question directly, the difference is that this repository contains Octopress 3, and imathis/octopress contains Octopress 2. It's recommended to use Octopress 3 by following the instructions in this repository and using the gem found at `gem install octopress`.

[2015-11-28 23:56] seanhagen commented on #138
I like this idea -- similar to how Rails is wrapping Rake so that _everything_ is `rails <command>`. Easier for new users, no forgetting if you should be using `octopress` or `jekyll` to do things.

[2015-11-29 00:04] seanhagen opened #154 "Date parsing fails with unhelpful message if date not in options"
If the options block at the top of a post doesn't contain the 'date' key, Octopress fails with a super unhelpful error message:

[code]

With trace:

[code]

Maybe [line 201 in lib/octopress/page.rb](https://github.com/octopress/octopress/blob/master/lib/octopress/page.rb#L201) could throw a helpful error message if the key isn't present in the options hash? That probably goes for other missing ke

[2015-12-15 01:06] dgmstuart commented on #150
Is it related to this? https://github.com/imathis/octopress/issues/1651#issuecomment-114170399

[2015-12-15 01:13] jingsam commented on #150
In Octopress 3，you should use
[code]
Do not try to use `rake` in Octopress 3!

[2015-12-20 14:06] phatblat commented on #116
I just completed a migration and this is the best post I found detailing the process:
http://samwize.com/2015/09/30/migrating-octopress-2-to-octopress-3

[2015-12-20 14:07] phatblat commented on #29
Check out: http://samwize.com/2015/09/30/migrating-octopress-2-to-octopress-3

[2015-12-29 06:17] phatblat commented on #146
I kept getting this error on my iMac, but deploying from my MacBook worked just fine. Then I realized that I had generated the `_deploy.yml` on the MacBook, but it's ignored and didn't sync over to the other Mac. Doh! :dizzy_face:

[2016-01-10 13:49] jingsam opened #156 "Octopress is dying!"
Believe it or not, octopress is dying. Octopress 3.0 is coming for more than one year, the docs are still deficient. Only one theme is working. Configuration is confusing. I checked the development activities in the latest month, it seems that this project lies dormancy.
So, based on the worries about octopress, I am considering migrate my blog to hexo which is more active and simple than octopres

[2016-01-10 14:19] yang-wei commented on #156
Believe it or not, you need a lot of time and energy for OSS project. And most people have their full time job and family. It's true that octopress 3 seems inactive recently but octopress 2.0 is still working fine for me. You only have to update to octopress 3 when it's stable. Just give those mate a little time. Cheers

Or better, help write the documentation and send pr !

The theme I wrote for

[2016-01-16 01:17] anarchivist commented on #156
I might add that there's a new post on the Octopress blog today: http://octopress.org/2015/01/15/octopress-3.0-is-coming/

For what it's worth, I've migrated to Octopress 3 using [the guide](http://samwize.com/2015/09/30/migrating-octopress-2-to-octopress-3/) listed in a comment on #29, and in my case, it was pretty painless.

[2016-01-16 01:18] anarchivist commented on #156
(Except that post is a year old. :disappointed:) In any event, I'm happy enough with the stability of Octopress 3 for my own use.

[2016-01-21 20:56] srukle commented on #156
Wow, thanks. I was actually able to setup a blog using this. The docs are deficient, I agree.

[2016-01-22 01:05] dgmstuart commented on #29
I've just completed a migration - I've taken a slightly different approach to some of the other posts and blogged about it here: https://dgmstuart.github.io/2016/01/22/migrating-from-octopress-2-to-3.html

[2016-01-22 06:23] dentex commented on #29
Wonderful!
I read the blog and I'll try the migration ASAP!

Regards.
Il 22/gen/2016 02:05, "Duncan Stuart" <notifications@github.com> ha scritto:

[2016-01-22 18:45] dgmstuart commented on #29
@dentex in the cold light of day it is a bit more complicated: Octopress 2 provided a full blogging service with hooks for comments, analytics, themes etc. Octopress 3 is now more like a set of tools for generating content for a Jekyll blog, so it looks like all that sort of functionality belongs in the Jekyll theme.

I think a better approach might be:
1. Pick a Jekyll theme with the features you

[2016-01-22 18:48] dentex commented on #29
Well OK.
Thanks for the additional info.
Actually I can't try anything for a couple of days.  :)
Il 22/gen/2016 19:46, "Duncan Stuart" <notifications@github.com> ha scritto:

[2016-01-22 22:07] ajmas opened #157 "Web based editor"
While the Octopress targeted more towards 'hackers', a web based UI for creating or editing entries would be handy. This could take form of a sister project, if one does not already exist.

[2016-01-25 03:15] ndim commented on #157
:+1:

[2016-01-25 19:54] dgmstuart commented on #30
I've recently done [a migration (of sorts) from Octopress 2 to 3](https://dgmstuart.github.io/blog/2016/01/22/migrating-from-octopress-2-to-3/) so thought I'd share my thoughts:

My current understanding that I've pieced together is that:

**Octopress 2** was a full-featured blogging platform all in one bundle, with a lot of features provided by the default theme, and where other themes were expec

[2016-01-25 19:57] dgmstuart commented on #30
So one thing which might have helped me understand quicker (and set expectations for other migrators) might be a paragraph at the top of the readme briefly expanding on the problems that Octopress exists to solve and how it solves them.

[2016-01-25 20:02] dgmstuart commented on #30
Also thank you so much for this project - not only has Octopress has been my introduction to Jekyll but also to liveblogging, and has also been an important factor in my moving towards using Vim as my main editor.

[2016-01-26 04:12] jingsam commented on #157
I think this feature would not happen, because it is not the way for hackers to write blog.

[2016-01-26 23:55] mjohnq3 commented on #157
Take a look at MeetHyde. https://github.com/MeetHyde/MeetHyde

[2016-01-30 10:44] LeEnno commented on #156
**tl,dr:** Please close this issue since it's not really an issue.

You're upset about your favorite blogging engine not being developed as rapidly as you like. That's a valid concern but not something that will be fixed by creating this issue. I think the authors know quite well about the current state of their software.

If you are offended by the docs feel free to contribute. Any help would pro

[2016-02-02 04:14] nickhammond commented on #157
Take a look at https://tinypress.co/ it's a web-based editor for a Jekyll powered blog hosted on GH.

[2016-02-04 09:39] jaykilleen opened #158 "octopress docs `Liquid Exception`"
Hi

Heard you on the Changelog podcast and am giving Octopress a whirl (would love to get off Wordpress).

I am slowly getting through it but think I may have come across a bug when trying to access the docs from Ubuntu 14.04 Virtualbox (Windows 10 Host).

[code]

Let me know if you need more info.

[2016-02-04 20:51] caraya commented on #157
You can also use editors like [dillinger](http://dillinger.io/) if you want to work online or, with some customization tools like Ulysses.

Googling [Markdown Editor](https://www.google.com/search?q=markdown+editor&oq=markdown+editor&aqs=chrome..69i57.4103j0j1&sourceid=chrome&es_sm=91&ie=UTF-8) gives plenty of possible solutions.

[2016-02-04 21:46] ajmas commented on #157
All look good. MeetHyde looks closer to what I am thinking, since it means you can host the UI on your own setup.

As for the "it won't happen" comment, it doesn't need to happen as part of the core Octopress project and I am sure the interest of Octopress is not limited to hackers, even if that is the focus user base? This is partly why I suggested a sister project or 'compatible' third-party pro

[2016-02-09 00:50] onebree commented on #158
I installed the octopress gem for the first time, latest version, and got the same error.

[code]

[2016-02-12 18:34] anatol commented on #158
I ran `octopress init; octopress docs` and get the same error:

[code]

[2016-02-14 20:20] drallgood opened #160 "Jekyll 3.0"
Hey.

Has anyone tried to use Octopress 3 with Jekyll 3?
I'm running into a few issues (namely, that Jekyll:Post doesn't exist anymore which kills the multilingual plugin)

[2016-02-15 00:36] dgmstuart opened #161 "Cancelling `octopress isolate` results in an error"
When trying to isolate a file I'm editing, I get an option of isolating the saved file or the swapfile. There isn't an option to cancel, so I hit Ctrl-C to exit, which results in the error below.

I'd expect this to exit sliently.

[code]

[2016-02-22 03:29] detly commented on #118
The result of running `octopress new <site>` definitely didn't create the `_config.yml` that the README says it should for me either. You can see the results in this [test site](https://github.com/detly/octopress-test/tree/6a107f8c03e23fdf02fe16b6c8cd1eee39627685), which was created with the following steps:

First, write a Gemfile containing:

[code]

Then run `bundle` (I did this under an RVM ma

[2016-02-22 10:56] TheChymera opened #162 "`octopress deploy` won't work with S3"
I am trying to deploy a test site to an amazon s3 bucket, but octopress deploy seems to nt notice that I have installed the required gem:

[code]

This behaviour persists if I close the terminal and try in a new one. Any idea what could be wrong?

[2016-02-22 16:49] anthonyrom opened #163 "Error when deploying to GitHub Pages"
I run `jekyll build` successfully, then try `octopress deploy`. I have set up the deployment stuff with `octopress deploy init ...` and configured the `_deploy.yml` as well. The repo I am trying to deploy to is http://github.com/pantherasciences/pantherasciences.github.io (under an organization I am a part of here on GitHub)

Running `octopress deploy` results in the following:

[code]

Any ideas

[2016-02-22 16:54] plttn commented on #163
In your site directory, do you have a folder called `deploy` or `.deploy`?

[2016-02-22 16:57] anthonyrom commented on #163
Yes, there is a `.deploy` file.

[2016-02-22 17:05] plttn commented on #163
And in that folder, is there a `.git` folder?

[2016-02-22 17:43] anthonyrom commented on #163
Indeed

[2016-02-22 17:59] plttn commented on #163
It's almost like it's trying to use the folder `deploy` not `.deploy`.

On Mon, Feb 22, 2016 at 9:44 AM Anthony Romaniello notifications@github.com
wrote:

[2016-02-22 19:15] anthonyrom commented on #163
There is no `deploy` folder so that might be the case. Do you know a fix for this issue?

[2016-03-05 03:09] t2d commented on #160
Running into the same problem.

[code]

[2016-04-11 19:52] WallStProg commented on #129
codeblock does not include a file from filesystem, but requires code to be inline.

[2016-04-14 14:07] TheLonelyGhost commented on #158
Odd... I get a different stack trace with Ruby 2.3.0 and Octopress 3.0.11. I've also confirmed the same issue in Ruby 2.2.3. Perhaps this means it's an issue with Jekyll?

[code]

[2016-04-15 06:55] CharlyMTO opened #164 "Update Page Octopress"
http://octopress.org/docs/setup/ by gem install

[2016-04-26 23:51] DanBennettDev commented on #145
Running the above character for character, but on running `bundle install` i get  errors:

Gem::InstallError: jekyll requires Ruby version >= 2.0.0.
An error occurred while installing jekyll (3.1.3), and Bundler cannot continue.
Make sure that `gem install jekyll -v '3.1.3'` succeeds before bundling.

When I run `gem install jekyll -v '3.1.3` alone, it's fine
Any thoughts?

[2016-04-29 00:08] justinrummel commented on #145
Can you share your Gemfile.  I'm having similar errors with regards to `gem install listen`.  Fortunately I have Jekyll 3.1.3 already installed.

[2016-04-29 16:15] DanBennettDev commented on #145
No problem - very simple:

[code]

I can install Jekyll 3.1.3 on its own fine too - as per above. And having installed that, I still get this error.

Think I'm just going to try Jekyll instead

[2016-04-29 16:26] justinrummel commented on #145
Ah. Take a look at mine. I add Jekyll first, then add octopress as a group.

https://github.com/justinrummel/jr.com-hpstr/blob/master/Gemfile

See if that helps.

[2016-04-29 17:19] DanBennettDev commented on #145
Fantastic - that seems to have worked. Thanks very much for sharing.

[2016-05-11 15:22] TheChymera opened #165 "I am getting a blank site. Better documentation?"
I have followed the directions [here](https://github.com/octopress/octopress/blob/master/README.md) - which should include a notice that you have to run `jekyll build` before you try `octopress deploy`, but thankfully someone took the time to write that on stackoverflow - and now I get a blank site with no idex, as seen here:
http://chymera.eu/test/

I can indeed browse to my pages manually, e.g:

[2016-05-11 15:26] plttn commented on #165
Curious as to what your folder layout looks like, as well as what `baseurl` and `url` look like. There's something wrong if jekyll isn't generating an index.html even without any posts. (and the posts being generated are lacking the includes that it should be using)

[2016-05-11 21:21] TheChymera commented on #165
This is the relevant info I could gather:

[code]

[2016-05-11 21:24] plttn commented on #165
Were `baseurl` or `url` not set in the YAML config file?

[2016-05-11 21:30] TheChymera commented on #165
My `_config.yml` is listed above. There is no `url` or `baseurl` set anywhere. Nor does the octopress README tell me I should set one, or what this should be set to.

[2016-05-11 21:33] plttn commented on #165
Add `baseurl:""` to `_config.yml` and try rebuilding.

[2016-05-11 22:30] TheChymera commented on #165
Added the line (apparently there has to be a space after the colon: `baseurl: ""`), rebuilt and redeployed. Same issue:

[code]

[2016-05-18 02:22] plttn commented on #165
I'm curious, what what happens if you just set up a bare Jekyll site using jekyll setup (https://jekyllrb.com/docs/quickstart/).

`octopress init` shouldn't be breaking any core Jekyll functionality, so that should work to at least set up a new site and have that work.

[2016-05-23 04:42] LovesTha commented on #160
Commit: https://github.com/octopress/octopress/commit/317fd53423733199bf7b5760a85198352917f83a implies that Jekyll 3.0 is meant to work. So it sounds like you have found a legitimate bug.

[2016-06-10 01:52] bvosk opened #167 "Draft is visible on deployed site"
I can't find it explicitly said in the documentation, but aren't files in the `_drafts` folder supposed to be hidden when I deploy my site? When I run `octopress deploy`, I can see my drafts _and_ posts up on the live site.

Here is what the directories look like. All three of these posts get deployed:

[code]

[2016-06-10 02:10] plttn commented on #167
AFAIK `octopress deploy` doesn't rebuild the site, so if they were in `_site` when you ran it, it'll sync it up. Do a `jekyll build` to clear the drafts from site, then deploy and it should be fine.

[2016-06-10 03:53] cloudrck commented on #167
[octopress deploy](https://github.com/octopress/octopress#deploying-your-site) doesn't build anything.

jekyll build will build based on your configuration.

So files in _drafts should not be built. I'm not sure what your deployment configuration consist of, but if the files are on the server live than it may have been because they were published at one point. You have to remove them.

[2016-06-10 03:57] bvosk commented on #167
Thanks to both of you! I'm about to go to sleep, but it sounds like this will fix my problem.

[2016-06-10 04:01] cloudrck commented on #167
I have a small script in each of my projects I execute when I want to sync.

[code]

[2016-06-10 19:12] parkr commented on #167
@plttn @cloudrck :heart:

[2016-06-10 19:12] #167 closed, assigned to nobody

[2016-06-11 14:00] Jeansen opened #168 "ocopress unpublish gives error split' for nil:NilClass"
When I do `octopress unpublish someposts` I am presented with a numbered list of all findings. I am asked `Which do you want to unpublish? (enter a number):` So, I enter a number, e.g. 1. I then get the error `octopress 3.0.11 | Error:  undefined method 'split' for nil:NilClass`

[2016-06-13 06:37] illegalnumbers opened #169 "Could not find a valid gem 'faraday-middleware' (>= 0) in any repository"
So I get this error when I try to install using Ruby 2.1.3...

Bundler hangs on install for this dependency and then we try to manually install and get this missing gem.

[2016-06-13 07:19] illegalnumbers commented on #169
might not be a octopress issue, gonna investigate and report back

[2016-06-13 07:19] #169 closed, assigned to nobody

[2016-06-13 09:21] jeremyz commented on #168
hello,
I tried to reproduce that with head which is 3.1.0, no can do.
can you please confirm it's fixed and close this issue, or give more information.

[2016-06-13 09:38] jeremyz commented on #161
SIGINT signal is not trapped, thus it kills the process which is what you wanted to do.
just hit enter to end it nicely ;)

[2016-06-13 11:30] jeremyz commented on #168
this might be related to #154

[2016-06-15 05:53] plttn commented on #165
Just bumping this:

I'm thinking what happened is after you did `jekyll new .` you missed an `octopress init .`.

[code]

After doing `octopress init .` in an already initialized Jekyll folder, everything should be functional.

[2016-06-15 12:33] Jeansen commented on #168
Nope, sorry. Does not work, though I changed to version 3.1.0. Here's my gemfile:
source "https://rubygems.org"
gem "jekyll", "~> 3.0"
gem "jekyll-sitemap"
gem "jekyll-feed"
gem 'octopress', :git=> 'git@github.com:octopress/octopress.git'
gem "jekyll-paginate"
gem "jekyll-gist"
gem 'github-pages', group: :jekyll_plugins

That's what I do: `bundle exec octopress unpublish post`
Found 8 posts matchi

[2016-06-22 16:16] resurrexit commented on #158
Anyone else still getting this? Using Octopress 3.0.11 and Ruby 2.2.5, with Jekyll 3.1.6.

[code]

[2016-06-22 16:25] randycoulman commented on #158
Yes, this still happens, but seems to be fixed by an unreleased commit: https://github.com/octopress/octopress/commit/4e855049f8f989acc3d24d73347d5671cf82a83d

Unfortunately, that just leads to a new error (I don't have it in front of me), but at least it gets you further down the road.

[2016-07-06 15:51] ekremkaraca opened #172 "storing pages inside a subfolder (instead of root folder)"
Hey guys!

I'd like to store "page"s I created after `octopress new page "Blablabla"` inside a subfolder instead of root. How can I change it to make them stored in a subfolder?

[2016-07-06 17:58] mjohnq3 commented on #172
`$ octopress new page docs/               # ./docs/index.html`

[2016-07-16 16:00] ekremkaraca commented on #172
@mjohnq3 thanks for the suggestion but I'd like to avoid folder name `docs` from command to create page and URL. For example, I'd like to keep all page sources inside `docs` folder like your example and add a page named `About`. Here I should hit the command below to create it:

[code]

After I serve it locally, here's the URL I should access:

[code]

But its URL became:

[code]

Here are things

[2016-07-17 14:46] nicluo commented on #158
Can confirm `octopress docs` works for me correctly on Jekyll 2.5.3

On my other computer with Jekyll 3.1.6, I got this instead:

[code]

[2016-07-20 12:32] jeremyz commented on #168
OK got it,
your post is missing the mandatory date field, or it is not iso8601 formatted :

date: 2016-07-20T13:57:39+02:00

[2016-07-26 18:30] resurrexit opened #174 "Including an image in Octopress 3"
I've been having difficulty including a picture in a post using Octopress 3. I've looked into some of the available plugins, and they are all written for Octopress 2. I've also tried using Liquid tags, a la
`{% img {{root_url}} /images/image.png 'alt' %}`, and other variations like linking to the diagram directly.

I have not been able to embed an image in a post using Octopress 3 once. Any help w

[2016-07-26 19:10] plttn commented on #174
Something like `{% img right /assets/images/travis-ci1.png Where to put the key. %}` should work.

[2016-07-26 19:41] resurrexit commented on #174
That worked, thanks! I'm not sure why the path you described worked. I tried something like
`{% img left /source/images/image.png 'diagram' %}`, and _that_ didn't work. Does it have to be the path you wrote, or did I just type something wrong?

[2016-07-26 19:44] plttn commented on #174
It shouldn't need to be that path, you might have just mistyped something.

[2016-07-26 19:50] resurrexit commented on #174
That is definitely the dumbest thing I've done all day. Thanks! (and I've discovered I can't type)

[2016-07-26 19:50] #174 closed, assigned to nobody

[2016-07-26 23:28] plttn commented on #172
Two thoughts on that:

a. It feels like a solution for a problem that doesn't exist
b. That wouldn't be something Octopress would handle, that's more building, so that should be something for Jekyll to handle.

[2016-07-27 02:54] ishu3101 commented on #29
How do you migrate the default octopress 2 theme to octopress 3? Octopress 2 uses [classic](https://github.com/octopress/classic-theme) as the default theme while octopress 3 uses the default Jekyll theme.

[2016-08-23 20:06] ayashjorden commented on #158
+1

[code]

Any update?

[2016-08-30 03:35] marcamillion commented on #158
Any update on this? Here are my versions:

[code]

[2016-09-17 12:21] marcamillion opened #175 "How do I deploy Octopress 3 to a subdirectory on an existing gh-pages repo?"
I am using Octopress 3, and when I run `jekyll build`, it generates the correct set of files (which includes my static files, see list of files below):

[code]

Note that my entire jekyll-generated `blog` is now safely stored within `\blog\`, which is how I want it.

But once I do `octopress deploy`, it overwrites this entire folder (which also overwrites my existing static files), see listing bel

[2016-10-26 09:32] deg0nz opened #176 "Known octopress 3 themes"
Hi,
are there any known themes for octopress 3? Any 3rd party themes or old migrated themes?
If I'm googling for this, it seems that all the world is still using octopress 2 (like myself).

I'd like to start using octopress 3 in the near future.

EDIT:
Oh, I just tried an octopress 3 installation.. is it possible to just use any jekyll theme?

[2016-11-02 03:29] detournemint opened #177 "Octopress commands error out"
I initialized a new octopress instance and then within the directory try to run any octopress command and i get the following

[code]

[2016-11-08 02:55] lokeshh opened #178 "Rake generate not working"
I get the following error when I do `rake generate `:

[code]

The octopress site I'm trying to run is https://github.com/SciRuby/sciruby.com

[2016-11-15 19:54] ramonsuarez opened #179 "Confusing install instructions github vs octopress.org"
First> thanks a lot for developing Octopress and putting so much work in the benefit of all.

I guess the octopress.org does not get updated as much as this repository. The problem for new users like me is that there are different install instructions in octopress.org and github.com/octopress/octopress.
Which is the good one? The folder structure is different between the cloned repo and using octo

[2016-11-16 15:54] deg0nz commented on #179
You should read the [blog post about Octopress 3](http://octopress.org/2015/01/15/octopress-3.0-is-coming/).

The Octopress in this repository is very different from the one described on [octopress.org](http://octopress.org), since many things have changed between version 2 and 3.

So if you use the version here, you're on Octopress 3, which means you should use the instructions from the `readme.m

[2016-11-20 13:24] ramonsuarez commented on #179
Thanks @deg0nz . I did read the post when I first visited the page and it made me think that Octopress development was abandoned, as it is almost 2 years old and there's no post confirming the arrival of Octopress 3. If browsed it again now. There's no explanation of the different repositories/ install methods in the post.

To make it clear for future visitors, It should be explained on the site (

[2016-11-20 13:24] #179 closed, assigned to nobody

[2017-01-13 11:49] VincentTam opened #181 "Canonical URL showing localhost:4000 in production URL"
I'm testing Octopress 3.  I uploaded a minimal example on VincentTam/octo3test.  In `index.html` on the `gh-pages` branch, the [canonical link reads `localhost`](https://git.io/vM2wx).

[code]

In my `_config.yml`, I set

[code]

(I carelessly missed an 's'.)

and my `_deploy.yml`

[code]

[2017-01-14 11:34] SpacyRicochet commented on #176
Hey @deg0nz, you probably already figured it out. But still, here's an answer;

Yeah, Octopress 3 is no longer a separate thing from Jekyll. Instead, it works as an additional utility framework around Jekyll, which add extra convience commands.

That means you just create a Jekyll site, with a Jekyll theme and when you want to create and publish drafts and posts easier, you use Octopress 3 for tha

[2017-02-01 23:20] #147 closed

[2017-03-08 09:49] 1217110883 commented on #178
have you resolved?

[2017-03-08 09:59] 1217110883 opened #183 "Rake generate not working"
I get the following error when I do` rake generate`

[code]

[2017-03-08 11:18] lokeshh commented on #178
Yes

[2017-03-08 11:18] #178 closed, assigned to nobody

[2017-03-08 11:22] 1217110883 commented on #178
would you please tell me  how do you solve ?thanks

[2017-03-08 11:24] 1217110883 commented on #178
thoes are errors that i met :https://github.com/octopress/octopress/issues/183  can you help me to solve it  ?

[2017-03-08 11:24] lokeshh commented on #178
I don't remember. It was long time ago. I think I was on the wrong branch
that was the problem... Not sure.

On Mar 8, 2017 4:52 PM, "1217110883" <notifications@github.com> wrote:

would you please tell me how do you solve ?thanks

—
You are receiving this because you modified the open/close state.

Reply to this email directly, view it on GitHub
<https://github.com/octopress/octopress/issues/178#

[2017-11-22 23:48] jerdog opened #185 "What actually happens with `octopress init`?"
So looking at setting up Octopress for a documentation site, ala Sendgrid, and have a few questions as the README is far from verbose on the install process. Here is what I have done:

1. `jekyll new [sitename]` gives the below file structure:
[code]
2. `cd [sitename]`
3. `octopress init` does some things and the new structure is:
[code]

The only thing that actually changed was `_templates` was a

[2018-03-05 10:00] dentex commented on #29
More than a year has passed, and every time I try to migrate it's a mess... Too many missing pieces for me.

[2018-03-07 12:38] deg0nz commented on #176
Alright. This issue is a year old now.. I'm gonna close this.

Thanks for your answer @SpacyRicochet!

[2018-03-07 12:38] #176 closed, assigned to nobody

[2018-06-23 07:13] awongCM commented on #29
Hello all,
Has anybody else figure out how to successfully upgrade/migrate your Octopress 2.0 to Octopress 3.0 in the Heroku environment?
I'm just wondering has anybody gone through this route before and be willing to share some experience how to go about it?

[2018-06-23 14:42] dgmstuart commented on #29
@awongCM see my comments above. In my opinion one shouldn’t think of it as an upgrade because Octopress 3 isn’t a new version of Octopress 2 - they’re completely different things: Octopress 2 was more or less a stand-alone blogging platform, while Octopress 3 is a set of tools for managing Jekyll blogs.

So instead I’d think of it as porting your Octopress blog over to Jekyll...

[2018-06-24 08:40] awongCM commented on #29
@dgmstuart Thanks for that.

So, from your point of view, does Octopress 3 come with any major performance boost benefits?

I noticed that on my Octopress 2 blog, every time I run `rake preview`, and then write some changes to one of my blog content post markdown, the `rake watch` process will take considerable time to regenerate the site (~average about 10-15 secs).  I feel this is very slow when

[2018-06-24 09:51] dgmstuart commented on #29
@awongCM not sure, sorry. I think one of the main improvements was that maintenance of Octopress2 was painful, since it’s more like a fork of someone else’s blog, rather than a library or platform. But as far as I know both Octopress 2 and 3 haven’t been maintained for a couple of years, so that’s not really a thing

[2018-06-25 08:42] awongCM commented on #29
@dgmstuart Okay.  That's a bummer.

If that's the case, I see no benefit gain from doing this "upgrade" work at all.

I might as well consider replacing Octopress 2 with another more powerful/faster blogging platform for tech writers like myself should Octopress 2 gets too 'shaky' to handle future blog content I'll be posting.

Thank you so much for your time anyways. Much appreciated!

[2018-09-18 21:46] #154 closed

[2018-10-06 21:54] P3lUZa commented on #183
Im having the same problem :(

[2018-10-06 23:07] P3lUZa commented on #183
Its a problem realted to posix_spawn 0.13 , the solution is to use the old version 0.3.12 instead.
Solved!

[2020-03-22 15:51] #142 closed

[2020-04-12 10:28] sulibo opened #186 "FrozenError when using octopress publish"
I got a FrozenError when using `octopress publish` to publish a draft. I am using Ruby 2.7 on macOS. Any suggestion to solve this issue? Thanks in advance!

[code]

[2020-06-30 21:27] #160 closed, assigned to nobody

[2020-09-18 03:44] garrettlancaster commented on #186
There seems to be a bug where the title is not loaded from the template prior to attempting to titlecase! @options[title] in page.rb

I added a rescue to that line (155) to get around it

[2020-10-21 00:57] ylqi007 opened #188 "FrozenError when `octopress new page xxx.md`"
I got a FrozenError when using octopress to create a new page. I am using Ruby 2.7 on Linux.
Any suggestion to solve this issue? Thanks!

[code]

[2021-01-08 13:23] slonopotamus commented on #128
pygments.rb 2.0.0 no longer has any timeout by default: https://github.com/pygments/pygments.rb/pull/212

[2021-11-22 19:54] Emkann opened #189 "m.shalunov.official"

[2021-11-22 19:55] #189 closed, assigned to nobody